[2018-03-03 19:41] krrisis opened #1 "General"

[2018-03-03 19:45] krrisis opened #2 "Governance"

[2018-03-03 19:46] krrisis opened #3 "Social Coding"

[2018-03-03 19:46] krrisis opened #4 "Dapp Development"

[2018-03-03 19:54] krrisis opened #5 "Team Video"

[2018-03-03 20:01] krrisis opened #6 "What to post on steemit"
proposal to put only opinion pieces & overview content here - evergreens but NO referral posts (which we might need to edit)
Reason: can no longer edit posts after 3 days (!)

[2018-03-03 20:07] #1 closed

[2018-03-03 20:08] #2 closed

[2018-03-03 20:08] #4 closed

[2018-03-03 20:08] #3 closed

[2018-03-04 15:45] geleeroyale opened #7 "Finish manon-fights-homelessness presentation"

[2018-03-04 15:46] geleeroyale opened #8 "Reorder Giveth Galaxy Prezi to reflect the updated talk"

[2018-03-04 15:47] geleeroyale opened #9 "Giveth Galaxy for ETHCC"
# The Galaxy has landed

We need to do a focused sprint to help complete Griff's presentation - 'Giveth Galaxy'

To be able to better work together and share source files, we chose this project to open up the
😎 **Giveth Communication Repo** 😎

## Instructions

1- If you are new to Github, please read or watch a simple tutorial like this (Working collaboratively in Github - by Udacity)[https://eu.u

[2018-03-31 15:22] YalorMewn opened #10 "ScalingNOW (Reddit Post) needs review"
# ScalingNOW!

The following is a brief summation of the 3 day event hosted by [Giveth](https://giveth.io/) and [Web3 Foundation](https://web3.foundation/) in March which brought together scaling solution developers and DApp teams to discuss how they can move the Ethereum world forward.

### For a link to the entire 3 day event transcript [follow me.](https://medium.com/giveth/scalingnow-summit-tr

[2018-03-31 16:33] YalorMewn opened #11 "Edit 'What's DAppening""
Edit medium post for the first edition of 'What's DAppening"

[Link to medium](https://medium.com/p/1bb21597c829/edit)

Scheduled to be published Monday 4/1

[2018-04-02 13:36] krrisis commented on #11
Done & published! :)

[2018-04-02 13:36] #11 closed

[2018-04-02 13:37] krrisis commented on #10
hey could you add the link to the google doc again here? is perfect with the redditpreview. One thingie already: 3 day event -> '2-day event'

[2018-06-20 16:19] #6 closed

[2018-06-20 16:23] #10 closed

[2018-06-20 16:28] krrisis opened #12 "Format of the meeting"
Proposal to use Zenhub

- [x] Move main issues & update
- [x] Give demo showing advantages (circle, your issues, commenting, creating new issues, dependencies, epics, ....)
- [x] Move remaining
- [x] Missing members to send github account name to kris & add the zenhub extension (chrome)
- [x] Assign new members
- [x] Write readme with some tips

[2018-06-20 16:30] krrisis opened #13 "Giveth AMA"
- [ ] kris to send meeting request & tweet
- [ ] assign yourself if you'll be able to join in !

[2018-06-20 19:44] krrisis opened #14 "Launch Plan Alpha"
- [ ] Medium overview post li

[2018-06-20 19:57] krrisis opened #15 "Wall of Fame"

[2018-06-20 19:57] krrisis commented on #15
this is done

[2018-06-20 19:58] krrisis opened #16 "Website"

[2018-07-18 13:32] #13 closed

[2018-07-18 13:34] krrisis opened #17 "Giveth AMA #3"
Set a date

[2018-07-18 13:41] krrisis opened #18 "Blockternship"
- Review
- Publish on Medium
- Publish on Twitter
- Share on Reddit
- Repeat shares on Twitter
- Share in different communities of these projects
- Find other channels to share

[2018-07-18 13:44] krrisis opened #19 "Giveth Galaxy"
- article on our universe

[2018-07-18 13:51] krrisis opened #20 "Mission Statement"
- [x] Finalize Mission statement
- [x] Ask goals by Circle leads
- [x] Put Mission statement on wiki
- [x] Review goals by Circle leads provide feedback
- [x] Link goals per Circle to roles document
- [ ] Put goals on the wiki
- [ ] Write article with mission statement & and goals (giveth galaxy)

[2018-07-18 13:55] krrisis opened #21 "Transparency Article"
- [ ] First proposal by Lanski
- [ ] Kris to review text

[2018-07-18 13:56] krrisis opened #22 "Work on pool of dedicated writers"
The idea is to have a number of writers that could help us out for DApp and other texts that need to be written.

- [x] Kris to have a call with lanski
- [x] Kris to have a call with Vojtech
- [ ] Kris to have a call with Cleo
- [x] Kris to have a call with Bowen

[2018-07-18 14:12] krrisis opened #23 "Contest decentralization"
Decentralized comms - be inclusive and crowdsource a creative concept for giveth

- [ ] Create medium post
- [ ] extend the deadline
- [ ] share again on social

[2018-07-18 14:20] krrisis opened #24 "Last Mile article"
guidelines for crypto - fiat

- [x] write reddit post
- [x] crowdsource via social media, share by @krrisis
- [ ] set up repeat shares (@krrisis)
- [ ] research
- [ ] write article

[2018-07-18 14:32] krrisis opened #25 "Milestone reporting article"
- [ ] post on medium
- [ ] post on social

[2018-07-18 14:37] krrisis opened #26 "Financial health check"
- [ ] Discuss salary kris after roles rework
- [ ] Receive extra funds via DAC + Nest Grant

[2018-07-18 14:41] krrisis opened #27 "Roles review"
- [x] create a new document
- [x] clean up roles for comms
- [x] discuss with lorelei
- [x] present to circle leads

[2018-07-18 14:43] krrisis opened #28 "DApp Whitepaper"
- [ ] write outline
- [ ] write part I
- [ ] share part I with stakeholders

[2018-07-18 14:45] krrisis opened #29 "Manifesto"
- [ ] crowdsource first version
- [ ] re-write
- [ ] get feedback from team
- [ ] share with community

[2018-07-18 14:47] krrisis opened #30 "Aragon DAC - Community R&D"
- [x] bridge channels
- [x] set up bi weekly meeting
- [x] feedback on logo
- [x] article to announce DAC
- [ ] ...

All info in the Aragon DAC repo [here](https://github.com/aragon/aragondac-community)

[2018-07-18 14:48] krrisis opened #31 "Riot Bot"
- [ ] brief contributor
- [ ] set up bounty

[2018-07-18 14:49] krrisis opened #32 "Decentral vids 2017"
- [x] review videos
- [ ] share videos

[2018-07-18 14:51] krrisis opened #33 "Events"
List of all upcoming events

[2018-07-18 14:52] krrisis opened #34 "Grants"

[2018-07-18 14:57] krrisis opened #35 "Unicorn DAC"
- [x] create DAC
- [ ] work on proposal by @lorelei1, split it up

[2018-07-18 17:05] lorelei1 commented on #27
you created a new document? :-)

[2018-07-18 17:20] lorelei1 commented on #20
had a preliminary convo with vojtech last night! let's solidify more what we are pulling from these goals convos with circle leads, then i will move fwd with asking the other leads. perhaps a good place to start is with the lead of the comms circle ;)

[2018-07-18 18:01] krrisis commented on #27
that's the doc you have :)

[2018-07-18 18:24] krrisis opened #36 "Global Innovation fund"
Check if relevant: https://Globalinnovation.fund

[2018-07-18 18:26] krrisis opened #37 "frontier technology"
check if relevant - Https://Medium.com/frontier-technology-livestreaming

[2018-07-18 18:37] krrisis opened #38 "Giveth DApp Nest Grant"
Waiting for money to be sent by Aragon
next: distribute funds over circles

[2018-07-18 18:42] krrisis opened #39 "Blockternship Nest Grant"
- [ ] receive feedback from aragon team

[2018-07-18 18:53] krrisis opened #40 "Initial wireframes for updated website"
- [x] kris to prepare proposal & discuss with kay
- [ ] discuss proposal with barbara
- [ ] discuss in comms meeting

Due date:  25/07

[2018-07-18 19:28] krrisis opened #41 "Stable Fund"
Griff applied for this

https://medium.com/@stablefund/introducing-the-stable-fund-45-million-for-the-makerdao-ecosystem-def79afc4b2a

[2018-07-18 19:39] krrisis opened #42 "Team interviews"
// Aragon interview series

[2018-07-18 19:40] krrisis commented on #20
yes! work on roles planned in 4 tomorrow :)

[2018-07-18 19:43] krrisis opened #43 "Blockchain Seattle - SEPT 10-11"
- Joshua subscribing - yalor support + griff probably

[2018-07-18 19:47] krrisis opened #44 "CSR Asia SEPT"

[2018-07-18 19:50] krrisis opened #45 "AnarchoPortugal July 19-20"
- [x] share on social @krrisis & @GriffGreen
- [x] @GriffGreen present
- [ ] receive & share stream by @krrisis

[2018-07-18 19:53] krrisis opened #46 "ETHBerlin SEPT 7-9"
- [ ] Contact @c1e0 and confirm us as a speaker - vojtech?

[2018-07-18 19:57] krrisis opened #47 "Giveth Origins Article"
transparency on our origins

yalor interview with griff https://www.youtube.com/watch?v=VOXpWgy13mw

[2018-07-18 20:02] krrisis opened #48 "Bridge security post"
- [x] write-up by Bowen & review by @vojtechsimetka
- [ ] final review by adam
- [ ] silent release on github
- [ ] silent (or loud) release on medium (tbc)

[2018-07-18 20:04] krrisis opened #49 "Multisend documentation"
- [ ] write out technical documentation
- [ ] write medium post? (tbc)

[2018-07-18 20:18] krrisis commented on #49
@sheluzin currently checking this out - @bowensanders maybe you could check in with him in a few days to see what he'll do documentation-wise? thx!
https://matrix.to/#/!kUeYRcrXObgGoJlFjn:matrix.org/$153175710695662TBVAW:matrix.org

[2018-07-18 20:22] krrisis commented on #48
Share with the community how the DApp Bridge is going to work
"**Description of the bridge with explanation of the roles: **
https://docs.google.com/document/d/1OUSLO-qmboncSf5tKP3Jo5JX__vvUZ7jnyfBdQhvA_4/edit?usp=sharing

Deployment details:
https://docs.google.com/document/d/1XExY55sCdH-gGgnMnzSHhbPZsMhmc6w2fHJ_Ro7ILyw/edit"

[2018-07-18 20:37] krrisis opened #50 "Blockchain on Tour LATAM (Nov 26 - Dec 3)"
Organized by Bernd Lapp
All info here https://medium.com/@bernd.lapp/latin-america-will-use-blockchain-3f5c1597ff74

- [ ] @GriffGreen will join, @emex and @alanborger could join locally?
- [ ] Kris to discuss with @GriffGreen @tatu and others how Aragon DAC will fit in this (request by Maria)

[2018-07-18 20:39] krrisis opened #51 "Sovereign Identity Project"
Decentralizing identity, Catalunya as a test case

building team & tech spec, dappnode is part of this, working on 'identity blockchain' (incl aragon partnership), next: governance, org identities... (=the total package), 2 months calm ---> antigua could be a good  test case - make this a blockchain country

[2018-07-18 20:41] krrisis opened #52 "WHG Exchange Hack"
Share the value of the WHG efforts

not high pri, but should look like this: https://btcmanager.com/ethical-hacking-and-the-case-for-decentralized-exchanges-a-discussion-with-oleksii-matiiasevych/

[2018-07-18 20:43] krrisis opened #53 "Eth Foundation Grant"
Txell & Yalor collecting info

https://blog.ethereum.org/2018/05/02/announcing-may-2018-cohort-ef-grants/

[2018-07-18 20:45] krrisis opened #54 "Status Incubate Grant"
Yalor & Txell collecting info

https://status.im/incubate/

[2018-07-18 20:48] krrisis opened #55 "Signalling website"
- Signalling Website - Deam - Jeremy Nation - Luker - corner stone of new news project (tbc)

[2018-07-18 20:50] krrisis opened #56 "Dappnode Comms"
Decentralize servers & help promote as needed

[2018-07-18 20:50] krrisis commented on #56
hey @YalorMewn - could you still submit the second dappnode medium post to giveth? thx!

[2018-07-18 20:52] krrisis commented on #39
grant info https://drive.google.com/open?id=1aXm61GuiUMXZ2P8w8TWyHRPzbKahrDalC5_t-buB_XM

[2018-07-18 20:53] krrisis opened #57 "ECF Blockternship grant"
Waiting for response

More info here https://drive.google.com/open?id=1aXm61GuiUMXZ2P8w8TWyHRPzbKahrDalC5_t-buB_XM

[2018-07-18 21:17] krrisis opened #58 "Devcon 4 -- OCT 30 - NOV 2"
- [x] Team members to obtain tickets
- [x] Find location to stay
- [x] Presentation opportunities
- [ ] Production of new swag

[2018-07-18 22:29] krrisis commented on #31
@YalorMewn do you have time to set up the status bounty for kris this week for those two issues as discussed? thx!

[2018-07-20 13:35] krrisis commented on #18
Status wants to sponsor too, a.o by inviting participants to Prague to continue during their hackaton!
Update from call sent to @YalorMewn, yalor working on detail w/ Status now - update coming!

[2018-07-20 13:49] krrisis opened #59 "Participation in Status Hackaton -- Prague 26-28/10"
Status invites us to participate in the Status hackaton, both as judges and/or participants!
All info [here](https://hackathon.status.im/)

- [ ] @GriffGreen @Quazia @vojtechsimetka proposed as judges, plz let us know by wed 25/07 if you want to judge/participate! (comment or join comms meeting <3 )
- [ ] @ljg583 to take earlier dates of arrival into account for lodging
- [ ] Status will sponsor o

[2018-07-20 19:07] krrisis commented on #38
Thanks for this super thorough update vojtech!! Point 2 & 3 tbd in the next comms meeting

[2018-07-22 15:43] ljg583 commented on #58
Accommodation is booked: Sokolovská 90/30, Karlín, 186 00 Praha-Praha 8, Czech Republic
Check in: Mon, Oct 29
Check out: Mon, Nov 5

[2018-07-23 11:03] ljg583 commented on #32
All videos have been linked to this sheet to manage the content: https://docs.google.com/spreadsheets/d/1sugfFWmwLJRufCJ8-li03qYHFdrPjYChSFLmdekFvqQ/edit#gid=0

[2018-07-23 11:04] ljg583 commented on #32
They will be uploaded to the Decentralist Network YouTube as they are reviewed

[2018-07-23 12:44] krrisis opened #60 "Future Projects to onboard"
Below (plz add in comments!) we will add projects that could be contacted and select for future onboarding on the DApp, after Devcon4

Focus is - for now - advised to be on **Ethereum-based or blockchain-savvy projects**, please take this into consideration.

Next, as the ecosystem evolves, more projects should ofc be onboarded.

Starting point: projects that contaced **us** - see list on our Goog

[2018-07-23 13:37] krrisis opened #61 "Hire Onboarding person"
- [x] review Vojtech's [text](https://docs.google.com/document/d/1XuZ9-Zcvdab1WqwHXSoacWKIrNRRDasbOEc9KmnAzJY/edit?usp=sharing) by @GriffGreen @krrisis @Quazia
- [x] share on all relevant media (ethlance etc?) --  by @vojtechsimetka
- [ ] share on social (@krrisis)
- [ ] share in our community & beyond (@krrisis)

[2018-07-23 13:39] krrisis commented on #60
[Dutch article](https://www.voordewereldvanmorgen.nl/duurzame-blogs/deze-ondernemers-gebruiken-nu-al-blockchain?utm_source=nwsbrief&utm_medium=email&utm_term=180720&utm_content=blockchain) with non-profits that are currently already deeply into blockchain

[2018-07-23 13:48] krrisis commented on #60
Proposal by @satyavh - have a project that focus on electricity production (methane) https://www.forbes.com/sites/samlemonick/2017/09/29/scientists-underestimated-how-bad-cow-farts-are/

[2018-07-24 00:01] vojtechsimetka commented on #61
I am giving up on ETH lance. Here is the final version, lets just share that
https://docs.google.com/document/d/1XuZ9-Zcvdab1WqwHXSoacWKIrNRRDasbOEc9KmnAzJY

[2018-07-24 23:58] parkwil89 commented on #22
Hi Kris,

If you still need more people please add me to the list!

Best,
Parker

[2018-07-25 00:05] parkwil89 commented on #36
This is potentially relevant but would require quite a bit of work and pre-positioning, is a lengthy and involved process and if for example Giveth was going to apply for the DApp, a lot of unanswered questions would need to be answered first.

If Giveth or any other projects are interested in applying for this and ready to be really dedicated to the proposal process please do send them my way and

[2018-07-25 00:10] parkwil89 commented on #37
Could potentially be relevant for a social coding project. Getting funding through the UK government (DFID) though obviously comes with a lot of legal strings. I would love to see a future where DFID wants to use the Giveth DApp to host a request for proposals but for now anyone they fund would need to be a legal entity (and likely one registered in the UK at that...).

If anyone is interested in

[2018-07-25 12:51] krrisis commented on #23
Feedback needed if I share again or not

[2018-07-25 15:10] GriffGreen commented on #17
I'm fine any time in early august

[2018-07-25 15:11] krrisis commented on #17
before the 17th to be scheduled in by @krrisis

[2018-07-25 15:13] GriffGreen commented on #17
https://doodle.com/poll/p2rayxt8h42uc7pp

[2018-07-25 15:14] GriffGreen commented on #26
Nest grant is there when we want it

[2018-07-25 15:18] GriffGreen opened #62 "Design Working Group"
Deam is leading a Design group!

[2018-07-25 15:29] GriffGreen opened #63 "Housing in Prauge"
https://docs.google.com/spreadsheets/d/1FbOytbsnwlR9JGDx1-cHqqc0XDydm_k7UvwAj6SY2Ls/edit?usp=sharing

[2018-07-25 15:29] GriffGreen commented on #63
FILL IT OUT!

[2018-07-25 15:30] GriffGreen commented on #63
We have a house that can hold 20 people

[2018-07-25 15:31] #63 closed

[2018-07-25 15:35] GriffGreen commented on #58
oops!
made a separate issue for this. https://github.com/Giveth/Communication/issues/63

most important part: https://docs.google.com/spreadsheets/d/1FbOytbsnwlR9JGDx1-cHqqc0XDydm_k7UvwAj6SY2Ls/edit?usp=sharing

[2018-07-25 15:35] GriffGreen commented on #58
SIGN UP!!! We have limited spots!

[2018-07-25 15:37] krrisis commented on #30
griff waiting for @Quazia to confirm - signing tbc

[2018-07-25 15:40] krrisis commented on #55
- applying to fill a nest bounty, submit this week
- right now going quickly - kay involved too

[2018-07-25 15:42] #52 closed

[2018-07-25 15:45] #25 closed

[2018-07-25 15:48] krrisis commented on #28
Total = 15 pages
First section open op this Friday - end of next week feedback

[2018-07-25 15:49] Pol-Lanski opened #64 "Timeline for MVP launch"
Creation of a timeline with a series of articles to prepare the onboarding and launch. Will flesh up this issue after talking with Kris and Vojtech.

[2018-07-25 16:00] krrisis commented on #18
web 3 invite too?

[2018-07-25 16:11] Pol-Lanski opened #65 "Meeting with Tom Thomison (Creator of Holacracy) - 15th August"
Lanski will be meeting Tom Thomison in Bangkok the 15th of August.

WRITE YOUR QUESTIONS BELOW if you have anything that you'd like to get some feedback from him.

- [ ] Review Roles Document that Kris and Lorelei are preparing
- [] What is the bare minimum for holacracy to work? What are the interdependencies between processes and systems for something to eliminate the inefficiencies that we are

[2018-07-26 13:34] vojtechsimetka commented on #36
We are interested, but there are more low hanging fruits here when it comes to financing. I have checked the application process and I don't think we can apply now. At minimum we need legal entity. It also seems to be investment not grant so as far as I understand there should be promise of return on that investment which is not our model as of now.

[2018-07-26 13:57] krrisis commented on #59
Update on judges - @GriffGreen can't make it - @vojtechsimetka to confirm judge or participant by this Friday plz - @Quazia will confirm by this Friday too. Thx for commenting here!

[2018-07-26 14:03] krrisis commented on #46
Vojtech, Griff & Kris are in the US - would be great to have another Unicorn to represent Giveth!

[2018-07-26 14:16] vojtechsimetka commented on #59
I can be a judge but at the same time I wanted to advice Snap Proof in the blockternship so I am afraid it may be a conflict of interests.

[2018-07-26 14:22] krrisis commented on #59
You have one day to make a final decision @vojtechsimetka  ;-)

[2018-07-26 19:19] deamme commented on #37
It's very fitting for the Giveth DApp according to this idea they have for blockchain integration: https://medium.com/frontier-technology-livestreaming/its-been-a-busy-month-since-my-last-post-and-things-are-really-moving-forward-2752622b01c6

[2018-07-26 19:41] parkwil89 commented on #37
Agreed but unfortunately this is what they are already doing, not something they are looking to fund right now. They put out open calls through DFID and have selected projects already and from what I can tell are not currently accepting new ones. Beyond that, a lot would need to change for Giveth to be eligible for UK government funding from these sources, most notably registering as a legal entit

[2018-07-26 21:19] deamme commented on #37
@parkwil89 I see, I didn't get that at a first glance. I don't see any projects in Social Coding that fits their requirement right now tbh.

[2018-07-27 00:22] parkwil89 commented on #37
@deamme Yeah they have it buried in there. Yeah I would have been surprised if any of them did fit the requirements but maybe someday! Otherwise for now I'll focus on grant opportunities from within the crypto community.

[2018-07-27 11:34] krrisis opened #66 "OpenBlockExplorerNOW!"
Bi-weekly call on Friday

[2018-07-27 13:02] krrisis commented on #37
Ok sounds good! then I'll close this one for now, thanks for looking into this guys!!

[2018-07-27 13:02] #37 closed

[2018-07-27 13:05] krrisis commented on #36
ok thx vojtech - closing this one too for now, to be revisited in the future if we would at some point become a legal entity or change our model.

[2018-07-27 13:05] #36 closed

[2018-07-27 16:53] krrisis commented on #62
@geleeroyale is proposing to lead this and work together closely with deam & others
He will also add goals & target audience to this issue
Possibly a Campaign on th DAC? tbc by @geleeroyale

[2018-07-27 16:59] krrisis opened #67 "Approved policies on wiki"
- [x] @geleeroyale will go through current wiki content & notes of previous meetings to see what is missing on the wiki when it comes to policies, rules & structure for clear onboarding of people

- [x] @geleeroyale will update the wiki by writing this content - @krrisis volunteers to review anything & give feedback on structure

- [x] @krrisis will contribute to this issue through the work on the

[2018-07-27 17:01] krrisis commented on #62
@geleeroyale will also check in the contributors list (bit.ly/givethmaker) who else should be invited
I will invite the aragon designer(s) via Quazia

[2018-07-27 17:05] krrisis opened #68 "Update Donation Page"
- [ ] kris to review the updated design
- [ ] kris to rewrite the text and include a clear reference to how money will be spend + link to DAC
- [ ] @geleeroyale to check with @perissology & @GriffGreen what the status is re:tokens & what to do

[2018-07-27 17:06] krrisis commented on #40
- First meeting held with @geleeroyale - discussed many things
- next up: design proposal by @alanborger on Tuesday + wireframe proposal by me on Tuesday
- @geleeroyale focus on technical feasibility of discussed proposals

[2018-08-01 14:16] krrisis commented on #40
- Created a wireframe & sent to @geleeroyale for review
- design proposal by alan received
- to be reviewed by me - will send review to @GriffGreen & @geleeroyale for initial feedback

[2018-08-01 14:18] #12 closed

[2018-08-01 14:22] krrisis commented on #31
- Created a Milestone, debriefed frederik & went to a number of review rounds, see pull requests under https://github.com/Giveth/giveth-bot
- next step, review amount in Milestone and complete
- @vojtechsimetka if possible to do a quick review of the code to make sure all is good to be approved

[2018-08-01 14:52] parkwil89 commented on #28
@Pol-Lanski  and I have finished part 1 and will be sharing it for further feedback ASAP, just finalizing now.

Part 2 will be submitted for final edits soon then marked as "written" and be prepared for sharing.

[2018-08-01 15:03] krrisis commented on #46
@deamme & @Quazia considering to go

[2018-08-01 15:08] GriffGreen commented on #46
@adriamb will be there

[2018-08-01 15:10] GriffGreen commented on #59
I am 80% not going to make it

[2018-08-01 15:12] krrisis commented on #62
Joana & Alan came up with a contest proposal - see design contest

[2018-08-01 15:13] GriffGreen commented on #62
we might want to work with the web3 design telegram group on this

[2018-08-01 15:22] krrisis commented on #34
If @parkwil89 can attend all of the meetings - lead would best be in every single grant call
Is there already funding in the campaign? if not @GriffGreen can send this

[2018-08-01 15:24] GriffGreen commented on #30
Chris is working with Derek to get his feet wet in aragon, via technical documentation

[2018-08-01 16:31] vojtechsimetka commented on #31
Is it still relevant? Seems to be merged

[2018-08-01 18:30] geleeroyale commented on #62
Said hello in the web3 design telegram group and invited them as well to our Riot channel. The group should in the next phase focus on actual work/assignments/feedback. We hope to distribute design as well as actual asset creation

[2018-08-01 18:52] geleeroyale commented on #67
site for approved policies: [https://wiki.giveth.io/policy/approved-policies/](https://wiki.giveth.io/policy/approved-policies/)

[2018-08-02 16:11] Pol-Lanski commented on #28
Part 1 Open for feedback!

[2018-08-02 16:15] Pol-Lanski opened #69 "BlockchainLabs.ai"
Possible crypto-savvy Giver that wants to channel their donations through Giveth.
Organize a call with them.

[2018-08-03 09:18] deamme commented on #31
@vojtechsimetka I already looked through it and it seems good

[2018-08-08 14:31] krrisis opened #70 "Advice process"
- [x] Finalize [this document](https://docs.google.com/document/d/1USAodZaQ1_K73c-ice1zDQQLPQBuWHRUPS9xnQct9Ag/edit)
- [ ] See how & when it can be applied
- [x] Add on our wiki ?

[2018-08-08 14:37] krrisis commented on #27
Roles meeting done on August 9, deadline for everyone to review roles & add is after burning man - lorelei will follow up on this and will add this responsibility to her role. Meeting notes [here](https://hackmd.io/_UmbcXbKRd-vACv8Bzt1rg)

[2018-08-08 14:38] krrisis commented on #65
- This is the roles sheet: https://docs.google.com/spreadsheets/d/10yFmRviEoeUCg8GfWizHBtkFqU9kgm_OhmIj9Lt-ONU/edit?usp=sharing

- This is the goals doc: https://docs.google.com/spreadsheets/d/10yFmRviEoeUCg8GfWizHBtkFqU9kgm_OhmIj9Lt-ONU/edit?usp=sharing

[2018-08-08 16:28] krrisis commented on #65
Clear question that popped up: what do we do separately as circles, what do we do as a group? Personally I think the comms & governance circle could play very much an advisory role (but then they should -if possible always - be included in topics linked to the roles held by people in these respective circle. The social coding & dapp circles I personally see more as specialized circles. They do pic

[2018-08-08 16:33] krrisis commented on #65
Should we pick one governance model such as holacracy and adopt it entirely & apply meticulously or can we just go on to make our 'own version' of it as Griff always says? Personally I really don't like that we don't have clear procedures, as it causes sooo many unneeded tensions and extra work for a few individuals (as they feel responsible & pick up the slack of others). More power to the roles

[2018-08-08 17:13] Danibelle commented on #65
I think the light of transparency with our circle meetings and activities illuminates the path for managing this somewhat organically.

1) we say what we are going to do, where those affected / with input can see it and comment, followed by 2) doing what we said, and 3) communicating that, allowing a bit of space for a feedback loop where anyone (eventually SOMEone who holds a role for tracking in

[2018-08-08 17:13] Danibelle commented on #65
Oops. :)  My thoughts.. NOT the end of the discussion.

[2018-08-08 21:48] krrisis commented on #46
apparently submissions for speakers have been closed off for quite a while - hope @adriamb will present us well :)

[2018-08-08 21:48] #46 closed

[2018-08-08 21:54] krrisis commented on #64
Working doc [here](https://docs.google.com/spreadsheets/d/148E9f08-3ErhfjOj5Cz2rQqk4iu2QCnn63FmZUKUMM8/edit?usp=sharing)

[2018-08-08 22:06] krrisis opened #71 "Code of conduct for donations to the Giveth DAC & access to the Giveth DApp"
We need to work out a procedure

1) to evaluate each project/org that contacts us and wants to donate to Giveth (or to future projects on our DApp)?

- what are the questions we should ask
- what are the projects to which we say no for sure and how do we explain this
- who is our SPOC for this and who follows up for which aspect

2) what guidance can we give them to talk about this collaboration &

[2018-08-08 22:21] krrisis commented on #71
@vojtechsimetka wrote out a great start to this thought process, after a previous loomio discussion, see below:

a) First one defining 3 groups of donations:

Safe donations
To be cautious about
Unsafe

b) Deciding what to do for each category of the above
Ideas:

Part of all money of donation group can go to a hold contract to be used for legal liability
There could be a delay mechanism that hold

[2018-08-08 22:29] krrisis opened #72 "Unicorn Onboarding Onepager"
Would be great to have a onepager that someone owns and that we keep up-to-date with all the info a new Unicorn should know. (can be on the wiki but let's start in a google doc)

This can link to decisions taken previously ofc (eg #67 ) but needs to be much more than this.
We also need a role in the roles sheet, someone a new unicorn can turn to for info.
Such a sheet can also be very useful as a

[2018-08-09 05:48] loietaylor commented on #27
thanks for the notes! i put 'em up on the wiki. https://wiki.giveth.io/protocol/roles-meeting-1/

[2018-08-09 14:32] Danibelle commented on #71
It appears this is written specific to Givers; assuming it correlates to the onboarding process for Makers, which I haven't yet seen.

The open source regenerative community project I referenced on the 8/8 comm call is Bloomnetwork.org and this document for engagement (in any direction - using term Stakeholders as umbrella) is the one I spoke of...

[Engagement Policy](https://docs.google.com/docu

[2018-08-13 07:01] Pol-Lanski commented on #69
Presentation about Giveth and Giveth DApp sent and Doodle sent for a good time to meet (Before the 24th of August, when Vojtech becomes unavailable)

[2018-08-15 09:17] Pol-Lanski commented on #70
Comments addressed and added to Wiki!

[2018-08-15 14:57] parkwil89 commented on #53
EF proposal to support social coding (including grants campaign) has been submitted, waiting for feedback.

[2018-08-15 14:58] parkwil89 commented on #34
Grant's Campaign now has some funding and has officially submitted first proposal and identified two more for submission which are in progress:

- ECF for social coding
- Ethkan

[2018-08-15 15:01] parkwil89 opened #73 "ECF proposal submission for Social Coding"
Will soon be submitting a proposal to the ECF to support social coding and the grants campaign

[2018-08-15 15:07] krrisis commented on #27
direct link to the roles etc https://docs.google.com/document/d/1Q-9Pi1RQX2g3RCW4EG08wRj3WPK8MHIj8Yn8aTGrEmc/edit?usp=sharing

[2018-08-15 15:13] krrisis commented on #28
Parker will integrate comments for part 1 & section 2 is coming
I will re-check Part I and also Part II rough draft

doc here: https://docs.google.com/document/d/1mq-vTh47Vvr-HFnIPTY6YyhAtbxLRXbBO2vDZgj1ao4/edit

[2018-08-15 15:21] krrisis commented on #23
proposals here https://docs.google.com/spreadsheets/d/1gigfvmcFYHyKhvHXQFsXwR1cCEPPrph7bygu_CL0vd4/edit?usp=sharing

[2018-08-15 15:37] krrisis commented on #73
submitted!

[2018-08-15 17:26] krrisis commented on #34
@parkwil89 will work on an overview (through github issues or later another way if not helpful) to have & give overview of grants status and funds location

[2018-08-19 21:53] parkwil89 commented on #34
Overview of Grant Support Campaign activities can be found here:

https://docs.google.com/spreadsheets/d/1vitXCVFWgOOeWux9JtkTAGZ1IwxYIwVd5AuOhbJM9Po/edit?usp=sharing

Still a work in progress that will continue to evolve but this document should provide transparency and also act as a tracker for myself and any other interested parties.

[2018-08-20 17:13] krrisis opened #74 "Guest post for riot blog"
describing how we use the chat bot & the point dishing bot - anyone welcome to pick this up!

Riot has invited to write a post to highlight the great work of @deamme & @frederikbolding, no deadline, so can possibly wait until after burning man etc

inspiration for what will go in there already here (chatbot) https://matrix.to/#/!DgvjtOljKujDBrxyHk:matrix.org/$1534707196611950jffqz:matrix.org

[2018-08-21 01:01] krrisis opened #75 "Web3 Summit Hackerspace! (22-24 Oct 18)"
- [ ] No more speaking oppt BUT we have a hackernode - discuss materials needed
- [ ] Decide who can/should go (tickets €600) & apply for reduced tickets (loie kris & griff did)
- [ ] arrange lodging - they link to Michelberger Hotel & Hotel nhow Berlin

[2018-08-21 11:45] vojtechsimetka commented on #75
I can go but I may need to leave 24th evening as the status hackathon starts 25.

[2018-08-21 20:28] vojtechsimetka commented on #72
Just putting as a reference something that I have created as onboarding onepager in November last year (there is a gitlab repo as some of the info were private, no longer the case). Most of it is now on wiki and is somewhat up to date, though it is rather difficult to navigate. I would suggest at least making the first section: Important links to be a start.

[2018-09-12 12:51] parkwil89 commented on #34
Update: GSC has just finished it's first set of "external" proposals. EF/ECF submissions for EthKan

[2018-09-12 15:39] GriffGreen commented on #75
https://web3summit.com/program/hackerspace/ i wonder if we host a node if that will get us free tickets

[2018-09-12 15:41] GriffGreen commented on #73
@YalorMewn any update?

[2018-09-12 15:43] GriffGreen commented on #72
onboarding for unicorns (aka Uniboarding) is being worked on by Lorelei

[2018-09-12 20:49] parkwil89 commented on #73
@GriffGreen @YalorMewn

Update: Interview with ECF took place 8/29, they asked for some follow up references, we still haven't heard anything back.

[2018-09-17 22:00] krrisis commented on #33
List of upcoming events:
https://docs.google.com/spreadsheets/d/1DXFOSPqxRh1hnS-XQM4pvbNKBwT4cI_po3NO7AqgNlo/edit#gid=0

[2018-09-18 01:07] #45 closed

[2018-09-18 01:08] krrisis commented on #75
Griff applied for the space, I applied for a reduced ticket. more news coming up

[2018-09-18 01:29] krrisis commented on #58
Side events
- Web3summit #75
- status hackaton #59
- FEM https://ethereumevents.global/events/2018-council-of-prague/

[2018-09-19 00:37] krrisis commented on #69
New doodle made, coming up!

[2018-09-19 00:40] krrisis opened #76 "Status of the DApp"
- Wrote a draft ([here](https://docs.google.com/document/d/1kpeuf9xvsdQi4PQ9sgsA3T-CzPZSeTbKjEkLP6PRWjc/edit?usp=sharing)) - reviewed by @Danibelle <3
- Next: integrate feedback later this week & send to griff & vojtech for final review

[2018-09-19 00:47] krrisis commented on #59
Vojtech is an official judge - currently only but super nice presence!

[2018-09-19 00:52] krrisis commented on #43
Great panel by joshua & kyle - recorded? tbc

[2018-09-19 00:53] krrisis commented on #67
@geleeroyale committed to keeping this updated so closing nxt week - @geleeroyale: hope you can add this as a role in the roles doc!

[2018-09-19 00:58] krrisis commented on #41
relaunched by griff

[2018-09-19 00:59] krrisis commented on #75
Node acquired!!
Info from the application:
What is the name of your Node? *
Blockchain Based Organizations NOW! - Giveth
What is the theme of your Node? *
Blockchain-Based entities (Orgs with no legal footprint) especially focused on decentralized not-for-profit blockchain projects on Giveth.
What props do you need to implement your Node? (e.g. Chairs, Tables, Projector etc.) *
chairs, tables, mon

[2018-09-19 01:12] krrisis opened #77 "Bountysource banner"
- opportunity for free banner space to get devs in
- use this now or later - depends on the needs of the dev team - could also be a generic push for testers and/or to giveth makers form

[2018-09-19 01:17] krrisis commented on #74
Call coming up with @EliEtzioni & @deamme

[2018-09-19 01:18] krrisis opened #78 "Posts"
Overview of all posts

[2018-09-19 01:34] krrisis opened #79 "Decentral talks & podcasts '18"
Kay is editing these
Will we be able to upload these on our own channel?

[2018-09-19 01:38] krrisis commented on #58
So we are sponsoring this I see - what does this give us & what do we need @GriffGreen ?

[2018-09-19 15:06] geleeroyale opened #80 "T-Shirt for DEVCON4"
Design is underway - assignee LydiaL (matrix username)
see communication about it on the design team Riot channel #giveth-design:matrix.org

[2018-09-19 15:14] krrisis commented on #40
- Amy, friend of loie, would come up with a design - @geleeroyale will check in & see how transition to figma will go

[2018-09-19 15:23] geleeroyale commented on #77
This is great for contributors!

Please put this issue forward to Riot channel - #giveth-design:matrix.org

[2018-09-19 15:24] krrisis commented on #79
joshua & bowen on podcasts - kay on decentralist

[2018-09-19 15:29] geleeroyale commented on #79
**Videos:**
We started uploading them to a dedicated [Decentral Network youtube channel](https://www.youtube.com/channel/UCtjNP9e2gOYr_TXinywZn2Q) (as of now videos are on private)

**Podcasts:**
@bowensanders and Joshua are working on the podcasts

[2018-09-19 15:36] krrisis commented on #75
- Maybe create one banner --- blockchain based entities now -- needed both virtual & physical
- New title: blockchain states / orgs / nations ---> ask in comms channels
- Roles: Griff can MC the room / presentation on Aragon DAC / Giveth
- Card with the schedule + how to get there
- Feedback from the team

[2018-09-19 15:41] krrisis opened #81 "Fundraising Kickoff"
3 main areas:
- Grants (Parker)
- Finding one big Giver
- Crowdfunding (eg support us / sponsor & get a ticket to devcon)

[2018-09-19 15:47] krrisis commented on #81
- Adam proposal: save percentage of donations (is possible with
- sell one ticket for the real prize, other one builder cost to the DAC
- linds: asking for money & event org

[2018-09-19 15:49] krrisis commented on #58
- Devcon sponsorship: logo on the site & banners + 2 free tickets
- Griff party & status hackaton give shirts

[2018-09-19 16:06] krrisis commented on #28
Part II: @Danibelle is reviewing --- I'll review too

[2018-09-19 16:10] krrisis opened #82 "Interview of initial users"
- Dani will interview some core users (unicorns!)
- next step: form with questions

[2018-09-19 16:20] krrisis opened #83 "Initial qualification of future candidates"
Initial reach out to our database to see if interest still stands

- you need to have a github account and/or a good feedback form
- ethereum focused (!)
- focus mostly on the donors to start - and/or only projects that have a donor

possible candidates (griff): the ethereum foundation groups
-social alpha
- ecf
- status incubate

---> can attract their recipients

[2018-09-19 16:25] krrisis commented on #44
lanski couldn't attend

[2018-09-19 16:27] krrisis opened #84 "One young world - 17-20/10"
Side event talking side event - lanski will check if he can get a room to talk blockchain for social good
https://www.oneyoungworld.com/summit-2018

[2018-09-19 16:27] krrisis opened #85 "One youth world - 17-20/10"
Side event talking side event - lanski will check if he can get a room to talk blockchain for social good
https://www.oneyoungworld.com/summit-2018

[2018-09-19 16:28] #85 closed, assigned to Pol-Lanski

[2018-09-20 01:27] Danibelle commented on #71
Moving this to In Progress, I am thinking an incremental solution as we onboard.

Beginning simply with a few screening questions as part of the Beta Interest Questionnaire to be distributed for pre-qualifying our next collaborators, as well as having acceptance of funds or access to the DApp linked to an affirmation of agreement to the Giveth mission and values.

[2018-09-20 02:34] Danibelle commented on #82
[First draft of dog food taste test questionnaire](https://docs.google.com/forms/d/1bjZ5cHZ8sZjbUA--UbwsLilu-wFswekQSFtsj2s-2zk/edit)

[2018-09-26 14:53] parkwil89 commented on #73
Unfortunately the proposal was not accepted by ECF

[2018-09-26 14:55] parkwil89 commented on #28
I am finishing up Part 2 and then will ping @krrisis and @Danibelle for another round of reviews. In the meantime, @Danibelle has been kind enough to take on the abstract portion and once I pass section 2 back for more comments I will move on to completing the 3rd and final section

[2018-09-26 14:56] parkwil89 commented on #34
Update: EF/ECF proposals submitted for EthKan a couple of weeks ago, marked down in the draft tracker

[2018-09-26 15:04] #62 closed

[2018-09-26 15:09] krrisis commented on #75
Working doc here https://docs.google.com/document/d/1jN7WCpiPlYemwwd13N1YVLzeWShZ2aacIxNUORRztcU/edit

[2018-09-26 15:10] krrisis commented on #59
Griff is also a judge - kay is a participant!

[2018-09-26 15:17] krrisis opened #86 "Ethfinex governance summit"
Griff will speak here

[2018-09-26 15:18] krrisis commented on #40
Call coming up.

[2018-09-26 15:30] krrisis opened #87 "RewardDAO"
- Dani catching up with lindsay
- Will sync with the circle leads
- Wants to reactivate the contributors' room

[2018-09-26 15:48] GriffGreen opened #88 "Fund Raising with Gitcoin"
TL;DR
Walk through the giveth repo and fill out [https://gitcoin.co/requests](https://gitcoin.co/requests) for support in funding bounties :-D
----
From Mitch:

Just funded 100 DAI for https://github.com/Giveth/giveth-dapp/issues/474 :) (may be a bit rich for funding but happy to get things started up for ECF fund)

If you have some time, would appreciate if you could walk through the giveth repo

[2018-09-26 18:39] anshumanv commented on #88
On it!

[2018-09-27 16:49] geleeroyale commented on #80
All praise goes to Lydia for making an incredibly inspired and artistic graphic for our devcon4 shirts.

We will order 200 pcs, white, bamboo viscose/cotton fairtrade shirts with black print - chest will have Lydia's graphic quite large, bottom seam will have a giveth.io logotype - we will get a mockup before final delivery to printing service.

[2018-09-27 19:38] csggene3 commented on #88
I can work from the bottom up if anshumanv wants to work from the top down =)

[2018-09-27 23:52] csggene3 commented on #87
Can I help here Dani or is this above me?

[2018-10-03 14:38] Danibelle commented on #82
Revised questionnaire with feedback from Vojtech and shared in Unicorn riot room - feedback gathering and interviews in progress.

[2018-10-03 14:46] Danibelle commented on #83
BrightID moved through expedited onboarding by 1:1 guidance with Vojtech - learnings around having Reviewers set up before creating Milestones and understanding the workflow end to end before starting it ;)

First qualification implemented that new projects must have a Unicorn sponsor.  Second candidate moving through the process is Adria's - Reperkutum, a drumming social project for people with i

[2018-10-03 14:51] Danibelle commented on #87
Looks like you are helping already @csggene3 by engaging in the Contributors room and sharing what you are up to!

Another way to help, as you are looking through issues to find ones you can work on, would be to share about opportunities in other forums to attract more contributors -as you can see there is plenty to do :smile_cat:

[2018-10-03 15:11] GriffGreen opened #89 "Hiring a Fundraising Person"
I would love to get a person for the comms department that only works on finding funders and has the main goal of being getting money to giveth, and the secondary goal of getting money on our dapp :-D

[2018-10-03 15:12] loietaylor opened #90 "Activists and Blockchain - A conversation with the Skeptics!"
@Danibelle , Kyle Graden from seedom, and I are collabing on a lil project responding to the common resistances and skeptical questions by activists, non-profit workers, and the type (MY type to be clear ;) when crypto and blockchain are brought up as tools for social change communities. We've all found ourselves running into the same walls when talking with these folks, and want to create a resou

[2018-10-03 15:14] GriffGreen commented on #89
Kris said he could be that person but if thats the case then we need to find someone who is able to take over his role.

[2018-10-03 15:24] GriffGreen commented on #90
AWESOME!!

[2018-10-03 15:25] loietaylor opened #91 "Unicorn DAC"
It's time to vote on the Unicorn DAC and start this governance experiment!

https://www.loomio.org/p/jkTKmJr1/unicorn-dac-voting-time-

[2018-10-03 15:26] GriffGreen commented on #89
@Danibelle and @r33 (on riot) said they might have people they can pass the job description to :-D

[2018-10-03 15:32] loietaylor opened #92 "Conflict Resolution Process write up"
Reading and agreeing to the Conflict Resolution Process is one of the steps of being onboarded to the Unicorn DAC, but I haven't actually put this document on the giveth wiki yet! I need to record the process I hold for giveth which is a synthesis of Restorative Justice Circle practices modified for giveth's use, and put that process on loomio and then on the wiki once it gets voted in.

[2018-10-03 15:35] loietaylor opened #93 "Roles Meet&Sheet write up"
We need a write up of the Roles meeting process and the Roles Sheet process (esp voting!) on the wiki! It's a complex and very useful process that we really need people to have full understanding of in order to utilize it well, so we need it documented publicly! Also so there is an easy place to refer Unicorn-hopefuls to read about it.

[2018-10-03 15:37] loietaylor commented on #93
@krrisis this is your baby and you crafted it so beautifully so I would love to see this write up come from you! I'm happy to do the work of actually putting it on the wiki tho once you write it, if that makes life easier!

[2018-10-03 16:53] Danibelle commented on #61
@vojtechsimetka @krrisis I'd love to get this EPIC cleaned up and current and communicating my progress going forward.. :fast_forward:  Would you like me to just do that as the person in the role now?

My hire was on a month trial basis, and we have just completed that month, and I'm coming to Prague with y'all next month.. I *think* we're a go and would like to hear it here :scroll:

[2018-10-03 16:58] vojtechsimetka commented on #61
@Danibelle please go ahead. I think we can just close this :).

[2018-10-03 16:58] #61 closed

[2018-10-05 12:42] Pol-Lanski commented on #84
Update:
1) The Blockchain meetup is going to happen but it's not getting much traction. I am hoping after Akon presenting A-Koin (yes, he will be there...) people will become more acquainted with Blockchain and we will get some traction. Hence the meetup will be after that session.
2) We have gotten a spot in one of the sessions to present during a 3 minutes pitch in front of top shelf media from

[2018-10-05 12:49] Pol-Lanski commented on #90
Sounds great. I have a bunch of NGOs that are terrified by the thought of increasing complexity in non-essential work and it would be great to have a standardized FAQ.

[2018-10-05 12:53] loietaylor commented on #90
Yep! Glad to have your brain on it @Pol-Lanski . Can you think of certain concerns they have in particular and how those might be addressed?

[2018-10-09 11:47] krrisis commented on #54
hey @parkwil89 is this one Giveth as a whole could apply for?

[2018-10-09 11:47] krrisis commented on #38
Is the one part we were going to receive paid out @vojtechsimetka ? If so I'll close this one.

[2018-10-09 11:48] krrisis commented on #39
no news so closing

[2018-10-09 11:48] #39 closed

[2018-10-09 11:48] krrisis commented on #57
No news so closing

[2018-10-09 11:48] #57 closed

[2018-10-09 11:49] krrisis commented on #73
Thanks for the update @parkwil89

[2018-10-09 11:49] #73 closed, assigned to parkwil89

[2018-10-09 12:09] krrisis opened #94 "Blockchain for Good Workshop"
There will be a panel or two, but after that it's about sharing experiences and focusing on bottlenecks: UX, fundraising, technical issues, etc

Livia & Dani will contact Kris for more

https://pragueblockchainweek.cz/events/alice-good/

[2018-10-09 14:24] parkwil89 commented on #54
@krrisis yeah possible but before deciding to proceed please take a look at the details. This would involve legal registration and moving Giveth into their incubator program from what I can tell. It's not just applying for funding it's applying to join their incubator program so in the past when we've discussed this people have moved against it. They may offer other options though so we could try

[2018-10-09 17:28] krrisis commented on #54
Right! that was this one, thx for the update, let's see during comms tmrw then

[2018-10-09 17:50] krrisis commented on #88
How's this one going guys?

[2018-10-09 17:52] krrisis commented on #89
Jessica is going to support me for now in both comms & funding jobs for now if all goes well - first meeting held

[2018-10-09 17:53] krrisis commented on #81
Wrote out my strategy thoughts [here](https://docs.google.com/document/d/1HqAMpG4r07pDBqorkDGYXZm-rscG6J8Pef8JU-PTD3k/edit?usp=sharing), first meeting held with Jessica, she'll continue working on her action items, we reconvene in two days.

[2018-10-09 17:57] csggene3 commented on #88
I'd be happy to make progress on this today but will still need individual recommendations as to amounts up for reward. Who should I ask on each issue? I know Griff is probably busy...

[2018-10-09 20:25] csggene3 commented on #88
https://github.com/Giveth/giveth-dapp/issues/488 - being posted at 30DAI

[2018-10-09 20:30] csggene3 commented on #88
https://github.com/Giveth/giveth-dapp/issues/475 - being posted at 70 DAI

[2018-10-09 20:39] csggene3 commented on #88
I can do these individually here, and save everybody call time if I can just get a thumbs up or thumbs down, then I'll go ahead and fill out the forms for thumbs up accordingly. Could get the majority of the list at least addressed here by today if that works for everyone.

[2018-10-10 15:06] GriffGreen commented on #88
Giveth/giveth-dapp#488  - 30 DAI sounds good :-D

#475 I would say 70 DAI

[2018-10-10 15:45] krrisis opened #95 "WOF article"
what the tech does

[2018-10-10 17:05] mkosowsk commented on #88
Mitch Kosowski reporting in! Thanks Giveth team for your help 👍

I think it's good to chat ideas here but for my process would be good to run through issues after Giveth has submitted them via Gitcoin Requests :) I'm currently juggling funding 15-20 repos so I won't be able to have a super amount of input into any one issue unfortunately

[2018-10-10 17:21] csggene3 commented on #88
No problem and sounds good on the after versus before. Since you are so busy, I'll go ahead and run through what has already been posted by you with amounts to keep a complete record in here so you don't have to worry with it. Then ideally we will all be caught up to the same page, and I can start submitting those that have not been addressed yet. This is the only repo I am funding, so I have the

[2018-10-10 17:28] csggene3 commented on #88
Gitcoin bot is offering up workers already, but I'll leave it to any of the rest of you to approve them or not.

[2018-10-10 22:17] csggene3 commented on #88
https://github.com/Giveth/giveth-dapp/issues/206 30 DAI?

[2018-10-11 04:40] Danibelle opened #96 "Wall of Fame Updates"
Maybe these will be broken out into separate issues - I'll put it all here for now:

1.)  We'd like to conduct an experiment this month offering a form as an alternative to a video entry on the Wall of Fame.  Initial thought was just to share in the rooms and with those receiving points directly; it's been suggested that we add the link to the Wall itself with some text, perhaps "Received points t

[2018-10-11 05:38] Danibelle commented on #96
I'm going to put these as 3 issues on the Wall of Fame repo now that I see there is one.

Probably good to have here for refining how to communicate the changes as they are evaluated revised and implemented :)

[2018-10-12 02:29] jessicazartler opened #97 "Jess Complete Onboarding Process"
**TO DO**
-Post Video/ETH address to Wall of Fame
-Post Video to Riot Contributors channel
-Create Milestone in DAPP

**DONE**
-Read Wiki Docs
-Sign up for DAPP
-Add myself to Roles Doc
-Join Riot -- Contributors Channel, Community, Communications

[2018-10-12 02:37] jessicazartler commented on #89
So happy to support!!! Do we still need to recruit anyone else? My business partner offered to also assist when we get rolling - he is great with numbers, can help us with the "Donation Deck" Kris and I will be creaing and has a lot of time at the moment as he is also in between projects. Perhaps we get the ball rolling and then see if he can join to support the efforts -- meantime will invite him

[2018-10-12 02:39] jessicazartler commented on #88
@krrisis anything I can do to support here? Can you catch me up on this so we can include in our fundraising documentation? Thank you!

[2018-10-12 02:41] jessicazartler commented on #96
@Danibelle Should I do a Wall of Fame? Or this new doc? Or both? Thanks! :)

[2018-10-12 02:42] jessicazartler commented on #94
Let me know if you need any support for this with planning or ideas :)

[2018-10-12 02:43] jessicazartler commented on #86
This is finished I see https://summit.ethfinex.com/
Any follow up to this?

[2018-10-12 02:47] jessicazartler commented on #84
Please let me know if you need any support on the events side for this --- also have a really cool contact in the Netherlands who is one of the founders of Angel Island and has big VC ties in the EU
https://www.angelisland.co/

He may have some good contacts in the Hague -- good luck with the plans!

[2018-10-12 02:50] jessicazartler commented on #83
@krrisis We talked about on our call -- here is the list Dani gave me of all the projects interested in getting onboarded -- also, Dani and I discussed, some may be good donation candidates as well. @Danibelle happy to assist in any way I can with this project. Will be talking with David Casey of Numundo next week so will fill you in about interests and potentially bringing them on board.

MAIN LI

[2018-10-12 03:12] jessicazartler commented on #81
Added my notes to the doc and some action items along with the overall notes -- please see the top and what I added :)

Will work on getting action items created as issues here in Github and look forward to discussing next actions and moving things forward tomorrow 👍 💯

[2018-10-12 03:15] jessicazartler commented on #79
Let me know if you need any support - My experience is on the video side -- worked in broadcast news for 8 years --- otherwise for podcasts, I know a few hosts that can spread out some content or who would be good resources if you need any support - good luck! :)

[2018-10-12 03:17] jessicazartler commented on #77
@krrisis how is this going? I think this could be great when we kick off our fundraising campaign :)

[2018-10-12 03:18] jessicazartler commented on #76
Great job on the blog!!!! In the future - I am here to cowrite or for a second pair of eyes :)

[2018-10-12 03:22] jessicazartler commented on #72
@Danibelle said she was working on Onboarding docs and simplifying the directions in a one-pager and we also discussed ideas for doing video walk throughs -- like "5 Steps to Become a Giveth Unicorn" or "10 Steps ..." as video is much more engaging and people are a bit lazy and prefer to watch video to reading docs :)

I sent her these examples from my old gig doing software support: (from the arc

[2018-10-12 03:23] jessicazartler commented on #69
How is this going? Any next steps? :) Let me know if I can support

[2018-10-12 03:24] jessicazartler commented on #68
How's this going - do you need help? :)

[2018-10-12 03:25] jessicazartler commented on #53
How's this going? Do you need support?

[2018-10-12 03:25] jessicazartler commented on #42
What is this one about? Thanks! :)

[2018-10-12 03:26] jessicazartler commented on #54
Any follow up for this? Sounds like a no?

[2018-10-12 03:27] jessicazartler commented on #47
This needs to be turned into a blog or?

[2018-10-12 03:28] jessicazartler commented on #34
Hi Parker :) I am new -- supporting with comm/fundraising strategy -- look forward to speaking with you!
@krrisis should we three set a call before I travel next week?
Thanks! :)

[2018-10-12 03:30] jessicazartler commented on #32
Errrrrmahgerrrrd what is this?

[2018-10-12 03:30] jessicazartler commented on #14
Is this a duplicate issue?

[2018-10-12 03:31] jessicazartler commented on #22
Hey @krrisis  - do we still need more people to recruit for this?

[2018-10-12 03:32] jessicazartler opened #98 "Unicorn Onboarding Video Tutorials"
@Danibelle said she was working on Onboarding docs and simplifying the directions in a one-pager and we also discussed ideas for doing video walk throughs -- like "5 Steps to Become a Giveth Unicorn" or "10 Steps ..." as video is much more engaging and people are a bit lazy and prefer to watch video to reading docs :)

I sent her these examples from my old gig doing software support: (from the arc

[2018-10-12 08:38] vojtechsimetka commented on #14
Very likely. This is something @Danibelle is handling and as far as I understand she does have everything setup.

[2018-10-12 09:59] krrisis commented on #14
it' just the epic that connects onboarding issues

[2018-10-12 10:01] krrisis commented on #22
in progress - you're one of them ;-)

[2018-10-12 10:04] krrisis commented on #47
one day, yeah, not urgent

[2018-10-12 10:05] krrisis commented on #54
correct

[2018-10-12 10:05] #54 closed

[2018-10-12 10:07] #76 closed, assigned to krrisis

[2018-10-12 10:12] krrisis commented on #86
waiting for the youtube vid

[2018-10-12 10:13] krrisis commented on #88
this is specifically for dapp issues - we'll talk about it during our chat

[2018-10-12 11:59] krrisis commented on #77
Definitely! They needed this asap so submitted today, links to bit.ly/givethmaker for now, we can always change this in the future. Moving this into 'on hold' so we don't forget this nice one but actually DONE.

[2018-10-12 12:02] krrisis commented on #96
hey @jessicazartler if wall of fame works for you, plz use it. If you have issues with the wall of fame, plz add them to the doc ;-) thx

[2018-10-12 12:45] krrisis opened #99 "Offboarding process"
Linking this one here so we don't lose sight of it - tbd after other elements are set up
https://docs.google.com/document/d/1FXCGaN9N1QLU-XQ9q1P4k1bv-ShXEDpfWPLh0bMQJ1A/edit

[2018-10-12 12:47] krrisis commented on #35
closing this one - double, as loie created a duplicate

[2018-10-12 12:47] #35 closed

[2018-10-12 18:34] Danibelle commented on #77
Is there a reason that bit.ly/givethmaker wouldn't be working right now?  I got an error not found..
![image](https://user-images.githubusercontent.com/39466970/46887535-e4a90d80-ce2b-11e8-9750-9be0202af26d.png)

[2018-10-12 18:45] krrisis opened #100 "Fundraising"
Epic for all fundraising initiatives
Strategy Doc [here](https://docs.google.com/document/d/1HqAMpG4r07pDBqorkDGYXZm-rscG6J8Pef8JU-PTD3k/edit?usp=sharing)

[2018-10-12 18:47] krrisis commented on #93
Done - here, so no longer blocking :) https://docs.google.com/document/d/1JN8w73P0Ee-Zult8NM3eBgpnCVIWFS2KxMBq87aSAcg/edit?usp=sharing

[2018-10-12 18:47] #93 closed, assigned to krrisis, loietaylor

[2018-10-12 18:47] #89 closed, assigned to krrisis, GriffGreen, loietaylor, Danibelle

[2018-10-12 18:48] #65 closed

[2018-10-12 18:51] krrisis commented on #77
woops, that's just me being lazy, bitly is capital sensitive, it's http://bit.ly/GivethMaker

[2018-10-12 19:02] krrisis opened #101 "Funding Strategy"
- [x] Jess will start on a fundraising deck to continue on with Kris, some inspiration in [Giveth onepager](https://docs.google.com/document/d/1h6svnXrDdnci-aiinxhiG967RTm8BS1b1fRs_wxgl8Y/edit?usp=sharing) and [Giveth Mission (link to goals doc at the end!)](https://wiki.giveth.io/dac/mission)
- [x] First review of progress on Monday
- [ ] Kris to set up call with @GriffGreen to discuss budgets
-

[2018-10-12 19:07] krrisis opened #102 "Overview of collaborators for possible partnerships"
Jess will build a google doc for possible partnerships & status

[2018-10-15 00:18] jessicazartler commented on #102
Here is the basic working doc - feel free to fancy the template and design :)

https://docs.google.com/spreadsheets/d/1N6nU97E2hPWQaHvNpSoTy_NuB_1lL6vuSTUlcQtTHNo/edit#gid=0

*On private - request editing access (because it has folks contacts) but let me know if you want me to change to link sharing view or anything :) Thank you!

Also, with this project, I think it would be great to hit up all th

[2018-10-15 02:26] jessicazartler commented on #101
Thank you for the inspiration! Here is the deck draft so far - about half way done ish, but the outline is finished and wanted to get your feedback before I go further. We can see if you like the layout and work on content further upon review tomorrow. Looking forward to it! :)

https://docs.google.com/document/d/1hKUnYi9eL6Tc-QtFZRDckF_io7IZ2A2X60-oac4iHj8/edit#

*GDoc is on anyone with link can

[2018-10-15 16:12] jessicazartler commented on #101
Kris and Jess discussed outline - Jess will make next round of edits for Kris' review
We also shared with Parker so he can give feedback, be in the loop, and use this doc as a starting point for the next round of grants. He can also use this document to see if putting in a full grant application is even worth the time and effort, so good for initial contacts in the grant process.

Out TARGET DEADL

[2018-10-16 01:41] Pol-Lanski commented on #69
@vojtechsimetka , @Danibelle and I had an initial meeting with them.
They have agreed to use Giveth as the platform to donate 20% of their profits to Charity. They want the projects to be in Thailand.
As next steps @Danibelle will onboard them as donors and @Pol-Lanski will put them in touch with at least one charity in Thailand -apart from their contacts- who would be keen on fundraising in Crypt

[2018-10-17 01:41] jessicazartler commented on #101
@krrisis second round of edits finished if you want to have a look - still a few missing pieces we can briefly discuss tomorrow and keep working when I am back to work after my meditation retreat Oct. 26
Thank you! :)

[2018-10-17 14:45] Danibelle commented on #87
Closing this, I'm actively tracking point recipients, seeking and engaging new contributors, and have initiated and/or implemented changes recommended by Linds through the WOF repo.

[2018-10-17 14:45] #87 closed, assigned to Danibelle

[2018-10-17 15:10] Danibelle commented on #96
I love Yes AND :)  Please do a video on the Wall @jessicazartler  you've got points!

Updates on the three points in this issue are in the Wall of Fame repo..

1.) https://github.com/Giveth/wall-of-fame/issues/62
This one is done!

2.) https://github.com/Giveth/wall-of-fame/issues/63
This has been done, we're just having some problems with some configurations (like mine!) working properly.  Going

[2018-10-17 15:29] krrisis commented on #95
Eli will interview @deamme & me later this week!

[2018-10-17 15:30] krrisis commented on #81
kickoff done! check the epic for more

[2018-10-17 15:30] #81 closed, assigned to krrisis

[2018-10-17 15:30] krrisis commented on #86
stream scheduled in & tweeted

[2018-10-17 15:30] #86 closed, assigned to GriffGreen

[2018-10-17 15:32] krrisis commented on #94
Yes! waiting for news from the team

[2018-10-26 12:41] Danibelle commented on #60
Link in the top comment for Projects to add themselves is not active?  I've been directing people to use this form as the very first step to show interest in Beta Testing as a user.  This link works: http://bit.ly/GivethCommunity

After receiving contact info from the form above, [this spreadsheet](https://docs.google.com/spreadsheets/d/1acfbmyiBpw1K141cH9ZBXaxNtoHEtw2fC6TvHFsnGoA/edit?usp=sharing

[2018-10-26 13:26] Danibelle opened #103 "DApp User Onboarding - Create Instructions and Tutorials"
[Onboarding folder](https://drive.google.com/open?id=1acfbmyiBpw1K141cH9ZBXaxNtoHEtw2fC6TvHFsnGoA) created in Giveth/DApp Development

In this folder you'll find, amongst other things, a [Step by Step Overview](https://drive.google.com/open?id=1acfbmyiBpw1K141cH9ZBXaxNtoHEtw2fC6TvHFsnGoA) with links for Beta First Wave Users.

Next step is to create short instructional tutorials, either screen sho

[2018-10-26 13:31] krrisis commented on #60
hey dani, fixed the link, it was the correct one, but for some reason not having added http threw an error. thx!

[2018-10-26 16:03] Danibelle opened #104 "DApp User Onboarding - Create Detailed Test Plan"
Part of onboarding new users is asking them to test thoroughly and report bugs and feature requests.

This issue is for creation of a detailed test plan that describes how to test existing functionality and easily report bugs or request features.

[2018-11-07 15:21] krrisis commented on #80
Closing - they look beautiful!

[2018-11-07 15:21] #80 closed, assigned to geleeroyale

[2018-11-07 15:24] krrisis commented on #40
new site up so way further than wireframes :)

[2018-11-07 15:24] #40 closed, assigned to geleeroyale, krrisis

[2018-11-07 15:26] krrisis opened #105 "Feedback to live website"
- Plz create issues in the site repo for changes
- text edit feedback can go to Kris

Kris & Griff have direct text edit access and will be working on this in the coming days
Kris will also create github issues in the coming days

[2018-11-07 16:11] geleeroyale commented on #105
Before we do it with Issues, I would love to have a 1-on-1 with Kris for the first review, because there might be many changes

[2018-11-07 16:22] krrisis commented on #75
Done & it was a success - youtube vids online - podcasts being worked on

[2018-11-07 16:22] #75 closed, assigned to krrisis, vojtechsimetka, GriffGreen

[2018-11-07 16:29] krrisis opened #106 "Create a script to scrape & download youtube vids weekly & sync to firebase or other place"

[2018-11-07 16:30] #84 closed, assigned to Pol-Lanski

[2018-11-07 16:30] #90 closed, assigned to Pol-Lanski, loietaylor, Danibelle

[2018-11-07 16:31] krrisis commented on #88
All done!

[2018-11-07 16:31] #88 closed, assigned to nobody

[2018-11-07 16:31] krrisis commented on #58
All done

[2018-11-07 16:31] #58 closed

[2018-11-07 16:32] #43 closed

[2018-11-07 16:33] #67 closed, assigned to geleeroyale

[2018-11-07 16:33] #22 closed

[2018-11-07 16:34] krrisis commented on #17
closing for now

[2018-11-07 16:34] #17 closed

[2018-11-07 16:38] krrisis commented on #94
streamed & live

[2018-11-07 16:38] #94 closed, assigned to krrisis

[2018-11-07 16:39] geleeroyale opened #107 "Backup videos from our channel"
Ok - I found something that we could use to download our videos. It does not seem to parse lists, but it can download all the videos in a playlist.

https://itsfoss.com/download-youtube-linux/

[2018-11-07 16:42] krrisis opened #108 "Grant Support Campaign Announcement"
Kris to review text by @parkwil89

[2018-11-07 16:42] krrisis commented on #106
double issue

[2018-11-07 16:42] #106 closed, assigned to nobody

[2018-11-07 16:43] krrisis commented on #107
Cool - can this run automatically?

[2018-11-07 16:44] GriffGreen commented on #105
Can we do the changes in this google doc? https://docs.google.com/document/d/13kY4NK-vU-v_kLv3NSeiMwOGG3jiv22is8XdzQ9NIjo/edit?usp=sharing

[2018-11-07 16:47] krrisis opened #109 "Wiki update for Social Coding"
- Bowen is working on a spec sheet at this moment
- @geleeroyale can provide a 'copy' of the CMS we are also using for the homepage

Page can (and hopefully will) live under socialcoding.giveth.io -- hopefully we can keep for sure the top nav aligned for boths sites.

[2018-11-07 16:48] krrisis commented on #27
done

[2018-11-07 16:48] #27 closed

[2018-11-07 16:52] #26 closed

[2018-11-07 17:01] krrisis commented on #74
Live!

[2018-11-07 17:01] #74 closed, assigned to krrisis

[2018-11-07 17:01] #97 closed, assigned to jessicazartler

[2018-11-07 17:03] krrisis commented on #60
Dani is creating a specific CRM issue (and solution :) )

[2018-11-07 17:03] #60 closed

[2018-11-07 17:03] krrisis commented on #23
points dished, projects done

[2018-11-07 17:04] #56 closed

[2018-11-07 17:05] #70 closed, assigned to Pol-Lanski

[2018-11-07 17:07] krrisis commented on #32
@ljg583 are the ones of last year done?

[2018-11-07 17:08] krrisis commented on #30
up & running - moving to backlog for that reason

[2018-11-07 17:09] #19 closed

[2018-11-07 17:09] krrisis commented on #77
live

[2018-11-07 17:09] #77 closed, assigned to geleeroyale, krrisis

[2018-11-07 17:10] krrisis commented on #55
Renamed to tennagraph - ongoing

[2018-11-07 17:26] parkwil89 commented on #108
Thanks Kris. Please hold off for now as things are changing slightly and this will need to be revised.

[2018-11-07 17:52] Danibelle commented on #69
OK I'm caught up now - BlockchainLabs.ai founder is the same guy as the podcast fellow I was talking about on the call 11/7.  We chatted again before DevCon and I told him I'd be in touch this week to plan onboarding.  So here we are.
From Michael:
"Also, you may consider a monthly or bi-weekly Giveth Podcast which we can develop together...to highlight the platform in action.  It could be a good

[2018-11-07 17:57] Danibelle commented on #42
Looks like we need to provide some Giveth team members for the Aragon Interview series..
http://blog.aragon.one/tag/team-interviews/
https://blog.aragon.org/nest-team-interviews-pando/
https://blog.aragon.org/nest-team-interviews-prysmatic-labs/
https://blog.aragon.org/nest-team-interviews-that-planning-suite/
https://github.com/aragon/aragon-monthly/issues/218

@jessicazartler

[2018-11-07 18:15] bowensanders commented on #109
Relevant Documents:

1) Help improve the whole giveth.io website copy: https://docs.google.com/document/d/13kY4NK-vU-v_kLv3NSeiMwOGG3jiv22is8XdzQ9NIjo/edit

2) Social Coding Website discussion and outline: https://docs.google.com/document/d/1jQzAKyzHUe7_apiJlvgMtuIlnnCAWzS5sassLZH3vRk/edit

[2018-11-07 18:18] Danibelle opened #110 "Contact/Relationship Management System (CRM not CMS)"
Its time to manage our spreadsheets and business cards - BEFORE we begin contacting people for things like fundraising, beta testing, collaboration etc. we need an information management tool so that within different orbits of the galaxy we can see who is talking to whom about what and when.

Current spreadsheet Dani is tracking with info provided through various forms is [here](https://docs.googl

[2018-11-07 18:20] Danibelle commented on #83
Met with David at DevCon - he is ready to onboard!

[2018-11-07 18:27] krrisis commented on #42
Woops no this is to do something similar as what they did for Giveth. So closed too soon! 🙂

[2018-11-07 18:33] JeffEmmett opened #111 "Digitize Giveth Mind Map"
- seek feedback from team and update
- share with team & greater community

[2018-11-07 18:37] bowensanders commented on #109
Giveth.io website improvements, related issue #105 : https://github.com/Giveth/Communication/issues/105

[2018-11-08 01:09] Pol-Lanski commented on #110
Isn't Zoho, our email provider, having a CRM too?

[2018-11-13 20:58] krrisis commented on #69
Thx for that update @Danibelle ! know that joshua & bruceunmighty are creating a DATT (decentralize all the things) podcast as we speak - so that's definitely a place on which such content could live, great idea!!

[2018-11-14 16:43] krrisis opened #112 "Blockternship results + voting logic gov experiment - medium post"
Post coming up with results & voting logic!

[2018-11-14 17:04] krrisis commented on #111
https://www.mindmeister.com/1171621400?t=RvciXZZVoU

[2018-11-15 15:39] mroberts10 opened #113 "Blockchain for Social Impact Event (29 Mar.) - Montreal"
The objective of the event is to introduce the not-for-profit community to blockchain and establish Giveth as a thought-leader in this space, for potentially further engagement. Second, this is a 'test' event to gauge interest from the not-for-profit community.  The estimate is 100 people, a mix of social impact blockchain projects, students and not-for-profits, and potentially even bilateral deve

[2018-11-21 17:14] GriffGreen opened #114 "Coinpayments donations"
To give donations, the donor needs to be able to call a function in a contract (we can't receive donations in just an address)... I dont see that as an option in their API

[2018-11-21 17:22] GriffGreen commented on #41
SUCCESS!!
MakerDAO committed to funding the DApp 5k in ETH now and 5k in DAI once that is possible :-D

[2018-11-21 17:28] GriffGreen opened #115 "DATT Podcast"
https://www.dattpodcast.com/

[2018-11-21 17:30] krrisis commented on #41
10K in total, last 5K when DAI works on the DApp!

[2018-11-21 17:31] krrisis commented on #41
Link to dapp vision 8-pager  https://docs.google.com/document/d/1fr5Mb-VcfshgsnsVKXa6wxRfONHI6Uf2ssoqbzfUuKo/edit?usp=sharing

[2018-11-21 17:37] GriffGreen opened #116 "Giveth DApp Meeting moved to 7pm at meet.jit.si/giveth-devteam"

[2018-11-22 15:16] mroberts10 opened #117 "Create Giveth DAPP Product Roadmap - that borrows text from many docs."
Note will also include include input from Parker Williams, Pol Lanski Whitepaper.
As always open to giveth community to assist in edited/commenting

Goal - to achieve broad consensus across the Giveth team
Goal - to ensure this vision fits with other roadmaps being created namely: - TCR project, Giveth.one, Aragon DAC

[2018-11-22 22:32] krrisis opened #118 "Monthly Giveth Newsletter, signed Griff Green"
We need one person to take up a new role in our galaxy: informing the community of what's going on with Giveth on a monthly basis.

The job of this person could be to commit to:

- attending the comms & gov meeting weekly and taking notes of what is going on
- chasing & interviewing griff and let him talk on all that is happening in the giveth galaxy after having outlined & prepped some talking po

[2018-11-23 03:24] Joshfairhead commented on #118
Learning more about happenings via participatory action, especially in this way, is something I'd like to get involved in - it especially seems suitable as a good first role! May we give it a try?

[2018-11-23 04:26] csggene3 commented on #118
I'd like to be considered as well, if I'm not already too late to the party

[2018-11-23 04:28] csggene3 commented on #118
Could this be a possibly collaborative effort between Josh and I, or are we looking to make this a singular role?

[2018-11-23 04:34] csggene3 commented on #107
I'd be interested in helping with this as well.

[2018-11-23 04:36] Pol-Lanski commented on #118
Unfortunately, with all the comms and governance meetings being pushed to even later, that sort of excludes Asia-based contributors to be able to join both meetings every time... but I think this is a very necessary step and I fullly support the newsletter! I can ghost-write pieces if necessary.

[2018-11-23 04:38] Pol-Lanski commented on #107
I don't think we can fit them in our GDrive... should we create a hard backup in one of our hard drives or you were thinking on some other platform?

[2018-11-23 04:47] csggene3 commented on #107
I was thinking of depositing them on a private hard drive at my own location to have an offline safe depository but that was just a thought...

[2018-11-23 04:48] csggene3 commented on #107
I have tons of unused drives that could be dedicated to this.

[2018-11-23 04:49] csggene3 commented on #107
Plus I have a GDrive One account with nothing on it if we wanted some online for online serving and not just safe keeping.

[2018-11-23 04:51] Pol-Lanski commented on #107
I'd say by all means start filling up these disks!

[2018-11-23 04:53] csggene3 commented on #107
Rodger dodger.

[2018-11-23 05:38] csggene3 commented on #118
I'm in California so the meetings are early morning for me but I've been able to get into both weekly regularly while feeling like a welcome participant. I've just been depressed lately and haven't attended this last week's.

[2018-11-23 15:01] krrisis commented on #118
Yeah @Pol-Lanski was a bit afraid that would be the case, it is high time for that universal giveth time in the galaxy, but we haven't made it to that dimension just yet. thx for all the support, as always!!

[2018-11-23 15:13] krrisis commented on #107
yes! I'd do that, see if the program @geleeroyale mentioned above could help, if not, don't hesitate to ping him. He most definitely also has thoughts on where to store them but starting locally is perfect. thx so much Gene!!

[2018-11-23 22:46] geleeroyale commented on #107
It would be awesome if somebody of you guys runs the scraper.

Also if that somebody starts to store it on a hard drive, we could use [syncthing](https://syncthing.net/) to share the folder.

[2018-11-28 17:27] Danibelle commented on #83
Update: Reaching out to our existing contacts is back on the horizon with the selection and implementation of SuiteCRM.  Importing contacts is the next step then we can manage who we contact and what their interest/responses are!

[2018-11-28 17:32] Danibelle commented on #82
With this new release and the big changes it's a good time to follow up and gather more feedback..

This [Dapp Beta Users](https://riot.im/app/#/room/#dappbetamakers:matrix.org) Riot room has been created and new/non-Giveth users are in the room already - existing users within Giveth who would like to participate in providing feedback specific to using and managing campaigns can join this room.

[2018-11-28 17:39] krrisis commented on #116
@Danibelle will follow up for the meeting request

[2018-11-28 17:44] loietaylor commented on #72
Might be useful for y'all to know the current status:
- Already there is in depth documentation of the [Unicorn DAC](https://wiki.giveth.io/dac/Unicorn-DAC/) and it's [onboarding process](https://wiki.giveth.io/policy/Unicorn-onboarding/) on the wiki.
- We have 7 unicorn pledges! (In process of applying to the Unicorn DAC).
- This is a lot to manage already, ushering them through the onboarding an

[2018-11-28 17:44] loietaylor commented on #98
Might be useful for y'all to know the current status:
- Already there is in depth documentation of the [Unicorn DAC](https://wiki.giveth.io/dac/Unicorn-DAC/) and it's [onboarding process](https://wiki.giveth.io/policy/Unicorn-onboarding/) on the wiki.
- We have 7 unicorn pledges! (In process of applying to the Unicorn DAC).
- This is a lot to manage already, ushering them through the onboarding an

[2018-11-28 17:46] krrisis commented on #107
hey @csggene3 did you make any progress on this? thx!

[2018-12-03 19:32] krrisis commented on #114
waiting for coinpayments to get back to us

[2018-12-03 19:32] krrisis commented on #92
This is live https://wiki.giveth.io/policy/conflict-res/

[2018-12-03 19:32] #92 closed, assigned to loietaylor

[2018-12-05 17:08] GriffGreen opened #119 "Host our own Jitsi Service"
@geleeroyale would you have interest in setting this up? :-D

[2018-12-05 17:16] krrisis commented on #118
Call happening TODAY!

[2018-12-05 17:18] #116 closed, assigned to nobody

[2018-12-05 17:23] krrisis commented on #50
done - and a success

[2018-12-05 17:23] #50 closed

[2018-12-05 17:24] krrisis commented on #98
Putting this in the backlog right now - first updating the wiki!

[2018-12-05 17:29] krrisis commented on #110
https://suitecrm.com/ is the winner!

[2018-12-05 17:29] #95 closed, assigned to krrisis

[2018-12-05 17:36] krrisis commented on #79
@geleeroyale still working on this but will stop this, we will put it on the DATT podcast!

[2018-12-05 17:36] #79 closed, assigned to geleeroyale, bowensanders

[2018-12-05 17:37] krrisis commented on #115
Ongoing at dattpodcast.com

[2018-12-05 17:41] krrisis commented on #72
Ok closing this one as the Unicorn DAC onboarding is Loie's domain now and growing on the wiki

[2018-12-05 17:41] #72 closed, assigned to krrisis, loietaylor, Danibelle

[2018-12-05 17:42] #32 closed

[2018-12-05 17:44] krrisis commented on #68
updated in the website debriefing doc in #105  - closing this one!

[2018-12-05 17:44] #68 closed, assigned to geleeroyale, krrisis

[2018-12-05 17:49] krrisis commented on #91
- Unicorn meeting coming up - we have 3 unicorns idea
- Unicorn DAC will be created asap in the dapp
- Loie will create a loomio
- people should create Milestones!!

[2018-12-05 17:51] krrisis commented on #112
LIVE!

[2018-12-05 17:51] #112 closed, assigned to bowensanders

[2018-12-05 17:55] #41 closed

[2018-12-05 18:25] krrisis commented on #15
@deamme is currently working on some updates @Danibelle created in the github repo for WOF

[2018-12-05 18:26] krrisis commented on #101
Call coming up with @jessicazartler & @mroberts10 tmrw for next steps

[2018-12-05 18:26] krrisis commented on #102
doc created - see funding strategy for overview - thx again Jessica!

[2018-12-05 18:26] #102 closed, assigned to krrisis, jessicazartler

[2018-12-05 18:27] krrisis commented on #101
Overview doc that also holds the links to deck & partners [here](https://docs.google.com/document/d/1HqAMpG4r07pDBqorkDGYXZm-rscG6J8Pef8JU-PTD3k/edit?usp=sharing)

[2018-12-06 13:40] geleeroyale commented on #119
So, I had a look at the Jitsi architecture again. While it seems like there was considerable progress made, the process to run Jibri (the streaming component) on top of our own Jitsi Meet (the actual video-conferencing) is still very complicated. Furthermore this would need its own digitalocean droplet. So - in short - it is not undoable, but labor intensive and comes with a monthly cost.

There d

[2018-12-06 13:41] geleeroyale commented on #110
We are live (for quite some time actually) on:

https://crm.giveth.io

@krrisis has been invited :)

[2018-12-12 16:37] Danibelle commented on #110
Strategy for bringing the CRM System online (Phase 1):
1.) Map existing modules, categories and fields in SuiteCRM to our ecosystem
2.) Import 3 spreadsheets of collected contact information for Giveth collaborators
~a.) [Be a Giveth Maker](https://drive.google.com/open?id=1FEkucYkpdqbLqEEGY39yGaXzdLn70DLYWbuQ4zBWyis)
~b.) [Becoming a DAC](https://drive.google.com/open?id=1YkAxkZ0PLz8RPZ5fa--DKCvJ

[2018-12-12 16:42] Danibelle commented on #96
These changes are complete!

[2018-12-12 16:42] #96 closed, assigned to deamme, Danibelle

[2018-12-12 16:43] Danibelle commented on #69
Talking to Michael later this week about how to sync up podcasts and direct donations to our new Unicorn DAC!

[2018-12-12 16:46] Danibelle commented on #82
Spending a lot of time working with individual users on how to log into the Dapp with the changes brought by web3 integration.  Planning a test and feedback cycle over the next few weeks.

[2018-12-12 16:49] Danibelle commented on #103
Going through previously created docs and mostly scrapping due to the new release changes.

Working on a revised step by step doc for troubleshooting login, milestone management, and DAC/Campaign creation.

[2018-12-12 16:50] Danibelle commented on #104
I'd like to find a contributor to do this - not the best use of my strengths and falling more into an area of weakness!   Could be we just put it on hold for now if it is not a priority, but I'm hearing a need for it from the user base.

[2018-12-12 17:10] Danibelle commented on #117
Where can I find that Maker proposal please?

[2018-12-12 17:17] krrisis commented on #119
Training session in thailand!

[2018-12-12 17:26] krrisis opened #120 "Updating the wiki"
working doc here:
https://docs.google.com/document/d/15sLUhFU6dbJ6jHgkpCzeuTTQ9NymPrheV8vBxI57NLo/edit?usp=sharing

[2018-12-12 20:44] krrisis opened #121 "Optimize the bridge bot between Riot, Slack, Telegram and Rocketchat"
Things to improve:

- when sharing urls make sure the markdown is kept (currently lost through the bridge)
- check if it's possible to get account images through the bridge
- check if it's possible to bridge to keybase (don't think it is but needs to be checked)
- .. others will come up

Support & access via @Geleeroyale

[2018-12-13 12:58] geleeroyale commented on #121
Hmmm - first off these points concern this software: https://github.com/42wim/matterbridge

We do not use this software to bridge between Slack and Riot. We do use it for single rooms to bridge them to Telegram and to bridge the whole of Aragon from Rocketchat to Riot.

These features that you would like to have are currently not supported it seems. For the markdown it might suffice to make an iss

[2018-12-13 13:02] geleeroyale commented on #104
As far as issue reporting - supporting the user is concerned. I am not a big fan of training wheel solutions (the UI should be so good as to leave almost no room for error/confusion) - we could integrate a chatbox solution - I am of the opinion that we need to do this sooner or later anyway. We can take turns answering the chat or decentralize it somehow between us.

[2018-12-13 15:23] Danibelle commented on #104
I think that's an awesome proposal..  esp. if it interacts with the revised wiki, and has a bug reporting interface.  Is that too complex?

[2018-12-18 16:59] krrisis commented on #121
hey kay, what do we use then between slack & riot and how can we optimize that one?

[2018-12-18 17:11] geleeroyale commented on #121
We use our own matrix server, together with this: https://github.com/matrix-org/matrix-appservice-slack

as setup by @perissology

What do you want to optimize here? The issues you were referring to in the description concern the bridge between rocketchat and matrix

[2018-12-18 17:34] krrisis opened #122 "crypto xmas promo"
write a step by step article based on this vid, both for mobile & desktop with screenshots

https://www.youtube.com/watch?v=xWK-vTCjkfU (also integrate this)

plus link to the call for dapp cards - medium post coming up

[2018-12-19 12:33] geleeroyale commented on #119
Here is the guide for streaming/recording and video backup/sharing - feedback welcome. I can also make a video out of this if there is demand, as well as give support in the initial testing period. This text should go to the Wiki.

https://hackmd.io/s/Hyh1MhDgN

[2018-12-19 12:39] geleeroyale commented on #109
Please note that there is a current website for socialcoding we set up together with @YalorMewn in summer:

http://socialcoding.tk/

This page will render the contents of https://github.com/S0cialC0ding/social-coding

I can help set up something cooler though if you guys want!
Also I recommend figma for prototyping instead of google docs.

[2018-12-19 13:30] GriffGreen commented on #119
oh fuck yeah... can I add it to the Wiki... and just remove the keys

[2018-12-19 14:23] krrisis commented on #119
thx so much kay!! @GriffGreen there's no key in there I think?
@joshfairhead can add this to the wiki - close to creating a pull request with some serious updates --> this goes under 'guides' (comms)

[2018-12-19 17:17] krrisis commented on #122
@paslar this https://medium.com/@cryptoxmas

[2018-12-19 17:20] geleeroyale commented on #119
the key in the post is **my public key** for syncthing!

[2018-12-19 17:23] Danibelle commented on #122
Screenshots for creating and sending a card has been started..  edit access for any with this link:

https://docs.google.com/document/d/1Alv-HzMbpYEzvIrd17-3vaP8JHaC_qMvggoVGr2qkg8/edit?usp=sharing

[2018-12-19 17:27] Danibelle commented on #69
Michael is no longer working with Blockchain Labs - Iwan has reached out to us for exploration of how to proceed and @Pol-Lanski is meeting with them in person this week.

[2018-12-20 03:21] Danibelle opened #123 "Giveth Datafund Article Review"
Adam has been researching the new project coming up on Giveth, DataFund, and their strategy to create a Fair Data Society Decentralized Altruistic Community in conjunction with their campaigns.

He's written an article about it and needs review and comments!

Milestone for writing it is here:
https://beta.giveth.io/campaigns/5b39d45e14cec916d00dab20/milestones/5c12c07538756672b224ebd9

And the art

[2018-12-21 06:46] krrisis commented on #121
as discussed in comms call further investigate by creating issues where needed or following up:

- for riot-slack --> see how we can fix the markdown being lost between slack & riot
- for riot-rocket chat --> idem

If possible log further issues or contact people for riot-rocket to
- edit/delete messages
- have avatars come through

thx!

[2018-12-21 16:57] krrisis commented on #69
hey @Pol-Lanski - how did this meeting go?

[2018-12-23 00:43] geleeroyale commented on #121
The good news is that some of the formatting of markdown works from riot to rocket.

But from there on -  I guess nobody bothered checking - but markdown does not seem to be *fully* supported by neither Slack, nor Rocket-chat.

Slack can be quoted here: "Since most are not familiar with Markdown, we’ve chosen not to support it." :-/

For Rocket.chat I tried to find documentation on message formatt

[2018-12-26 13:44] geleeroyale commented on #121
I did reach the developer - and hurray(!) - they asked me to open a feature request! So I did open an issue on their GitHub repo: https://github.com/42wim/matterbridge/issues/663

I also attached a (small) Gitcoin bounty that Aragon DAC can fund a little more if you want to incentivice development!

[2018-12-26 17:14] Pol-Lanski commented on #69
Hi all!
Meeting went well. They will have revenue to work with in about 5 to 6 months.
My sugges

[2018-12-26 17:18] krrisis commented on #69
want to donate 20% to charity - but this will take them still about 6 months to become profitable - contact them 4 months from now

[2018-12-26 17:45] krrisis commented on #122
next:
- dani ask to create profile so we can trace it on the dapp

[2018-12-27 03:55] Pol-Lanski commented on #69
Situation recap:
- The Giveth DApp is currently in beta and onboarding non-profits to create their campaigns and fundraise.
- We have integration with the stablecoin DAI (an ERC20), so milestones can be denominated in USD (DAI is pegged 1 to 1 with USD).

Hence:
- We will be recontacting again in March / April to see whether we start the Onboarding process or not. 
- In the meanwhile, you might ge

[2019-01-02 12:14] krrisis opened #124 "Funding post - anonymous donor"
Content:

- Giveth is extremely grateful to have received a late Christmas gift, a last 2018 gift to make 2019 even better -- we received 285 eth (40K+ DAI)

- we need more supporters to build the Future of Giving. FUG is not only the DApp, but the entire Galaxy (summary of text blocks on giveth.io )

- mention briefly that we now have two main entry points, the unicorn dac or the giveth dac, expl

[2019-01-04 00:47] krrisis opened #125 "Blockchain Week Paris 4-10 Mar."
- ethereum magicians
- ethcc
- blockchain week

- griff as a speaker?
- giveth gathering?
- giveth public side event?

all info here https://medium.com/@jdetychey/announcing-ethcc-2019-and-paris-blockchain-week-4th-to-10th-of-march-8b05ad95c9ad

[2019-01-07 12:47] FrederikBolding commented on #107
I threw something together in Python here if you want to use it @krrisis - https://www.dropbox.com/s/py8td1utd6h8b6q/Giveth%20YouTube%20Backup.zip?dl=0

It can be run with Python3 by running the backup.py file in the pytube folder. Could probably be cleaned up at some point, but I had to customize the library a bit, and therefore had to include the source 😄

[2019-01-09 12:12] FrederikBolding commented on #107
A repo has been created for the project here: https://github.com/Giveth/youtube-video-backup

[2019-01-09 12:20] FrederikBolding commented on #107
I created an issue to discuss storage solutions here: https://github.com/Giveth/youtube-video-backup/issues/2

[2019-01-09 16:31] mroberts10 opened #126 "Mozilla Interview and podcast"
How to hold meetings - Google Hangouts

Who should come - widely advertise the hangout or simply Giveth community meeting group?
If a larger group, do we need a another platform with someone managing questions and the turning off mics etc.
Introductions: re: Giveth Griff/Bowen/Kris - re: Mozilla Mark Surman - Interview - Michael
Format: 10 min intros - 30min interview with questions decided by Giv

[2019-01-09 17:27] Danibelle opened #127 ""Deep-Styled" Video Production Offer"
We have some friends who want to offer their services doing some cool videos for us, and also begin engaging in Giveth Governance processes to learn from what we are modeling and sharing (goal of becoming a Giveth Campaign when the time is right).  Here is their introductory message:

http://unicornpalace.org/Giveth-message1

Who could be a good contact for producing some "Who is.." and "What is..

[2019-01-09 17:36] Danibelle commented on #103
Working with existing and new users to walk through the processes that are ready to be 'tutorialized' ..
Also we are awaiting some changes in the next release to do the videos so they aren't rendered obsolete too quickly.

[2019-01-09 17:40] Danibelle commented on #83
Qualification is baked into the New User Process through an approval and whitelisting process between when new DAC's and Campaigns are drafted into Release first, then green lighted to be whitelisted.

[2019-01-09 17:40] #83 closed, assigned to Danibelle

[2019-01-09 17:45] geleeroyale commented on #121
fixed in https://github.com/42wim/matterbridge/issues/663

[2019-01-09 17:54] #105 closed, assigned to geleeroyale, krrisis, GriffGreen

[2019-01-09 18:03] krrisis commented on #122
next: @Danibelle will check with adam to join the meeting tmrw
reminder for when it comes to the funds: post should also push people to still register in the dapp to trace their donations as @GriffGreen mentioned. thx!!

[2019-01-09 18:04] krrisis commented on #123
hey @Danibelle I see this one is still here - when is this going out? enough feedback received? otherwise I'll quickly check (bit overloaded right now + I trust u guys ofc)

[2019-01-09 18:05] krrisis commented on #126
next, as discussed:
- doodle for date
- loomio for questions
- start of promo

[2019-01-09 18:06] krrisis commented on #127
Right now I think we need to wait a little bit before we do any vids (too many moving parts) but we can move ahead with anything that's them learning from us ofc, looking fwd to more!

[2019-01-09 20:41] mroberts10 commented on #126
Agreememnt to use google hangouts for the immediate team, and then stream things on youtube - have moderators collecting questions and ask question from the audience at the end of the chat.  Additional the interview with start with question posed by the Giveth team prepared in advance and through a loomio.

[2019-01-09 20:43] mroberts10 commented on #117
Dani, I've gutted the doc now.  Meetings to be facilitated by Michael to gather additional knowledge from a smaller 'working group'

[2019-01-09 20:45] mroberts10 commented on #113
Contining to refine the event.  Might be surplus of money from the event which could be donated to a Giveth DAC, campaign or cause.

[2019-01-11 17:23] krrisis commented on #124
@GriffGreen add any comments here :)

@elietzioni this should definitely also go in here - a reference on how we decided in our decentralized way what to do with the funds! https://www.loomio.org/d/Sbn1FeT7/285-eth-what-am-i-gonna-do-

[2019-01-12 00:03] GriffGreen commented on #124
Yep! We did the loomio and then we talked about it in the Community meeting but sadly it had a recording issue :-P so it didnt really record anything useful :-(

the final verdict was what was said in the loomio, but its interesting... at least i think its interesting.... that we had to do a whole process around "what do we do with this donation" because it was sent to the multisig... but if the d

[2019-01-14 09:03] krrisis opened #128 "Odyssey Hackathon - 11-15 Apr."
Possible SC project?

More info via odyssey.org
Pre-reg now, registration for pre-events now!

[2019-01-14 12:34] geleeroyale commented on #124
I think this is a good opportunity to inform people about these choices! We should change our official policy in a way that everything donated to Giveth DAC will be routed according to our community's decision, but if donors want to support something specific within Giveth, it will be that campaigns/community's decision - We should communicate this loudly and clearly, as I think we are the only bo

[2019-01-16 17:14] loietaylor opened #129 "Partnership with Women4Blockchain Hackathon NY (May)"
Anna Vladi of W4B reached out to connect for possible Giveth help in doing bounties at their hackathon coming up soon - Lorelei's gonna have an initial meeting with her and update the community from there/likely pull in Dani.

[2019-01-16 17:15] GriffGreen opened #130 "Jeff has an article that will go out next week"
https://medium.com/@jeffemmett/9584b40dfe30
Still being edited

[2019-01-16 17:17] GriffGreen opened #131 "Dai Article going out soon?"
https://docs.google.com/document/d/1n7JJVGjz099bDS44QHkdpNrlsGBFB72DzPpMQjVg0kg/edit?usp=sharing

[2019-01-16 17:27] #107 closed, assigned to nobody

[2019-01-16 17:33] krrisis commented on #128
Focus on token bonding curve

[2019-01-16 17:35] krrisis opened #132 "Eth Denver 15-17 Feb."
Possibility to build a team token-bonding curves --- griff will be looking into this

[2019-01-16 17:38] krrisis opened #133 "Eth Capetown - 19-21 of April"

[2019-01-16 17:43] krrisis opened #134 "Nashville Hackathon"
Wants to use the dapp for bounties - lorelei is looking into it

[2019-01-16 17:43] #134 closed, assigned to loietaylor

[2019-01-16 18:23] Joshfairhead commented on #128
Just seeing this repo now! Needed a Zenhub indoctrination. Hells yeah on all the hack stuff, excited as to work on this :)

[2019-01-16 18:25] Joshfairhead commented on #128
Bowen: please see [this thread](https://www.loomio.org/d/F7Pjp9Wv/odyssey-hack) for bits. Also feel welcome to join the fray ;)

[2019-01-18 13:15] krrisis opened #135 "Create a Dai x Giveth visual"
**What**:

- Putting the logos of Giveth and Dai together on a white background as main image for a medium post.
- Put a 'X' in between both logos, similar to [this](https://cdn-images-1.medium.com/max/1600/1*fY7jcG7KeUMUXDdi8AyruA.jpeg) to illustrate the collaboration between both

**Requirements**:

- Size of entire image, width 1000-1400 pixels, more details here: https://help.medium.com/hc/en-

[2019-01-23 16:27] krrisis commented on #135
Done by @alanborger - points dished! <3

[2019-01-23 16:27] #135 closed, assigned to nobody

[2019-01-23 16:28] krrisis commented on #131
published

[2019-01-23 16:28] #131 closed, assigned to nobody

[2019-01-23 16:52] krrisis commented on #124
Good feedback Kay! Have added a paragraph specifically on this.

@GriffGreen and @mroberts10 Eli has already spent quite some time on this, but this is ofc an important one, as it is a first ask for funding: could you briefly check if the current version is clear to you and is good to go? thx! https://docs.google.com/document/d/1lhE8D58GiowlJwQUNFOuOpgengxDuYOtSN-IQmQ88rw/edit?usp=sharing

[2019-01-23 16:54] #91 closed, assigned to GriffGreen, loietaylor

[2019-01-23 16:56] krrisis commented on #71
To me this is a practical thing on which the governance circle could help, possibly the gov-lab initiative @geleeroyale ? This is a real governance point for which we definitely need some brainstorming, experimentation & documentation.

[2019-01-23 17:16] GriffGreen opened #136 "Giveth.one branding"
We should probably chat about this, tho its early in the discussions... Kay is going to help lead the conversation with Vojtech.
i suggested that we get veto and edit power on all communications
this will eventually have a loomio :-D

[2019-01-23 17:18] krrisis opened #137 "Catherding initiative"
Dani cannot onboard people right now
Lane is open to doing this through Giveth - @GriffGreen or Kay will onboard him in Berlin.

[2019-01-23 17:21] GriffGreen opened #138 "Aracon griff is talking"

[2019-01-23 17:24] krrisis opened #139 "Görlicon - fishbowl"
Griff is leading a fishbowl - @geleeroyale you could possibly stream this with your equipment ?

[2019-01-23 17:26] krrisis commented on #132
- Griff will possible be a judge - TB curves, tbd --- will check with the team
- @vojtechsimetka  will give 1,5h talk on hacking the DApp - hope this will be streamed? plz let us know

[2019-01-23 17:34] krrisis commented on #138
Will be livestreamed by the Aragon team

[2019-01-23 19:07] vojtechsimetka commented on #132
@krrisis will do, likely streamed + recorded but I'll ask.

[2019-01-23 23:15] Joshfairhead opened #140 "Write permissions to the repo for Josh"
If this works zen hub lies, please grant access

[2019-01-23 23:16] Joshfairhead commented on #140
Ok, it submits requests. I cant move stuff though (odyssey hack into in progress)

[2019-02-02 19:45] geleeroyale commented on #140
You do have write access! I will close this issue =)

[2019-02-02 19:45] #140 closed, assigned to nobody

[2019-02-02 19:46] geleeroyale commented on #119
We never added this to the Wiki! Will do so now!

[2019-02-06 15:46] GriffGreen commented on #139
didnt happen

[2019-02-06 15:46] #139 closed, assigned to GriffGreen

[2019-02-06 16:22] krrisis opened #141 "Weekly Series on token bonding curves - Giveth x BlockScience"
Proposal to start two YT series:

- One with @GriffGreen talking to @JeffEmmett Zargham and others, deap-learning and organizing
- A second one with @GriffGreen & @krrisis to translate this to a 'lower level' ;-) of communication that more people will understand. This second layer can be streamed as is, or can be translated by Kris into a weekly/montly Medium post.

exact way how to do it tbc

[2019-02-06 17:19] GriffGreen commented on #132
@mroberts10 and @Bowen and @Loie and @griffgreen are all going... anyone else?

[2019-02-06 17:20] krrisis commented on #115
@geleeroyale has content from görlicon - @bowensanders  from aracon--> will let them add this

[2019-02-06 17:23] bowensanders commented on #115
From Bruce - this is the current show layout idea
DATT network
— Web3 show
— What The Fork? show
— Aracon show

I'm hoping that there will be a "random" show on there too, to feature one-offs and content ("Decentralized Surprise!" has been tossed around)

[2019-02-06 17:27] krrisis commented on #137
Open to play with it but funded for now.

[2019-02-06 17:28] bowensanders commented on #132
As far as I know that's all of us :)  I'll ask if any of the social coders are going... but Josh DuChene is going to be there

---- On Wed, 06 Feb 2019 09:19:11 -0800 Griff Green <notifications@github.com> wrote ----

https://github.com/mroberts10 and https://github.com/bowen and https://github.com/loie and https://github.com/GriffGreen are all going... anyone else?

—
You are receiving this becau

[2019-02-06 17:29] krrisis commented on #128
@JeffEmmett is owning the token bonding curves
@Joshfairhead is talking on gov lab & other topics

[2019-02-06 17:36] krrisis commented on #141
Kris will catherd this and chase griff & jeff to make this happen

[2019-02-06 17:40] geleeroyale commented on #119
Added the info to the Wiki - PR waiting for review: https://github.com/Giveth/giveth-wiki/pull/65

[2019-02-06 17:43] krrisis commented on #129
In march - how to collab for the event in May

[2019-02-06 17:45] krrisis commented on #125
- Jeff, Kay & Sponnet on Token bonding curves after ethcc
- Kris for ethmagicians

[2019-02-06 18:02] krrisis commented on #133
Continue with experiments we start at ethdenver

[2019-02-06 18:03] krrisis opened #142 "RewardDAO"
possibly move to Milestones only

[2019-02-07 20:55] krrisis commented on #119
Check, thx kay, added review - prob best if you still do that live obs tutorial for people who are interested. Griff was going to organize bcs he has a gazillion things on his plate but maybe best you kick that off, as Griff, well , has a gazillion things on his plate. :)

[2019-02-13 17:16] krrisis commented on #128
Griff proposes to present a working part by then and to continue hacking on this.
BlockScience is a jury, Giveth will be participating - be aware of this
Griff: first work on the other hackathons

[2019-02-13 17:18] krrisis commented on #132
Form a core team to work on frontend of a token bonding curve -- 4 people to build on this

[2019-02-13 17:26] krrisis commented on #136
lorelei will close the loomio and share vojtech's outcome

[2019-02-13 17:26] #136 closed, assigned to nobody

[2019-02-13 18:20] Joshfairhead commented on #128
Edges are absorbed by competition. In capitalism, this creates a race to the bottom, in the commons it creates further abundance. Is it a problem that we live between the worlds?

[2019-02-13 19:14] Joshfairhead commented on #51
What needs help with here? Identity is fun :)

[2019-02-13 19:43] Joshfairhead commented on #53
Any response from them?

[2019-02-13 19:50] parkwil89 commented on #53
Unfortunately it was not selected for funding.

[2019-02-13 20:05] Joshfairhead commented on #53
Ok, so I'm good to close the issue? I'm uncertain of this process but going to click the close and comment button...

[2019-02-13 20:05] #53 closed

[2019-02-15 00:46] krrisis commented on #51
I think this is still on hold for now, but good to keep it on the radar to come back to at some point.

[2019-02-20 15:45] #138 closed, assigned to nobody

[2019-02-20 15:45] #126 closed, assigned to mroberts10

[2019-02-20 15:45] #123 closed, assigned to nobody

[2019-02-20 15:45] #120 closed, assigned to krrisis

[2019-02-20 15:45] #124 closed, assigned to krrisis

[2019-02-20 15:45] #121 closed, assigned to geleeroyale

[2019-02-20 15:46] #38 closed

[2019-02-20 15:47] krrisis commented on #119
on the wiki now

[2019-02-20 15:47] #119 closed, assigned to geleeroyale

[2019-02-20 15:52] Joshfairhead commented on #128
Giveth - TEAM 1 have been accepted to the Odyssey Hackathon. They are building a Token Bonding Curve to "Tokenise the Odyssey Ecosystem", which is our first iteration on building sustainable funding mechanisms for the Crypto Commons and beyond. TEAM 2 is still in formation to build TCRs :)

[2019-02-20 16:00] krrisis opened #143 "Edcon Hackathon (8-10 of April)"
We will not be at Edcon (8-14 of April) but we will be sponsoring the hackathon.
Giveth is supporting by setting up a campaign on the Giveth DApp and putting in $1000, and we're seeking donations in ETH or DAI to place against a Milestone.

Ideally, we are seeking $1000 - $2000 , half for the winner and half to be donated to a cause of their choice.

Kelsie is organizing the hackathon & our main c

[2019-02-20 16:10] krrisis opened #144 "Unblocked Conference - April 2"
SDG focused blockchain conf

Currently Kay, Griff & Jeff are going

[2019-02-20 16:50] Joshfairhead commented on #132
Winner winner chicken dinners: https://kauri.io/collection/5c69c8c39c73740001dab899

[2019-02-20 17:18] Joshfairhead commented on #132
Abbey is writing a medium post also. Might check in with her

[2019-02-20 17:26] krrisis commented on #132
- Pactful won the social impact track (abbey corey seth & saga), bowen, joshua & griff were helping on it.
- Burner Wallet - all funds we received are going to GraceAid on the DApp -- half to unicef, half to graceaid

[2019-02-20 17:45] krrisis commented on #128
Team 2 is in formation (curation registry team) - Kay Emilie Chris & Roberto. Sponnet is in, Deam is possibly in as well. (Pando) ---> Track Nature 2.0

Team 3 is an integration team focusing on the Giveth DApp-- around a specific cause. --> Track tbd

Working list of the teams -- https://docs.google.com/spreadsheets/d/1vjvgxk0Ua-zCtaAmTQSAji8xQipFdSBGfKEnXap5NFc/edit#gid=0

[2019-02-20 18:01] Danibelle commented on #142
https://www.loomio.org/d/AKT2BcPk/rewarddao-how-shall-we-evolve-the-wall-of-fame-

[2019-02-22 01:43] geleeroyale commented on #119
I did actually show him around OBS in Barcelona! :)

[2019-02-24 23:50] krrisis commented on #71
little reminder for this one - is this gov-lab territory @Joshfairhead @geleeroyale ? wdyt?

[2019-02-25 00:00] krrisis commented on #143
Edcon also asks us if we want to be a community partner. Personally I'd love to - anything against this @GriffGreen ?
tbd next call if u don't see this.
'Could you please become EDCON community partner to help promote EDCON, thus help more people know and join EDCON. If you are willing to be EDCON community partner please let me know and we will put your logo on EDCON official website.'

[2019-02-25 00:03] krrisis opened #145 "#GivethTalks #2 - JP from Nature 2.0"
Michael will keep on steering this, after the great first edition and make sure we're working on speaker 3 while finalizing speaker 2 (and so on).

Next on the list is JP - @Joshfairhead is key contact here to make this happen

[2019-02-25 02:10] geleeroyale commented on #71
Thanks for the ping @krrisis. I don't think this is specifically for gov-lab, as I see that more as R&D, but I agree that we should discuss this in governance circle. We have some good voices here in this thread that lay a foundation for a protocol we could - as a community - define further.

Because Giveth is a platform for delegating donations, I recommend we primarily define the edge cases (fun

[2019-02-25 15:06] krrisis opened #146 "Berlin Blockchain Week 20-28 of August (Dappcon Berlin 21-22 Ethberlin 23-25)"
announcement: https://twitter.com/ETHBerlin/status/1099763546869678080

[2019-02-25 15:09] krrisis commented on #115
No update for burning man content? would still like to at least see vlad's talk go out (would not wait for any formal permission tbh)-- work is done (you did loaads on it) and is extreme good promo for our future camp and just DATT in general

[2019-02-25 16:34] Danibelle commented on #71
I suggest a simple disclaimer where ever our donation addresses are listed that says something to the effect of:
If you would like to use the Giveth name in publishing your charitable donation or otherwise support and collaborate with us publicly, please let us know in advance by contacting XXX.
In the event the Giveth brand is represented as a partner without our prior knowledge and agreement, we

[2019-02-25 18:15] krrisis commented on #71
Yeah I think that is definitely a quick win! could we add that @geleeroyale ? feel free to put my name there '..by contacting @krrisis in our [riot chat](http://giveth.io/join)'

That is one step for the donations, the question on who we refuse on the dapp is another one. And so is actually whose donations we accept. Personally I stay open to accepting all donations, we use it for good :)

[2019-02-25 19:35] Joshfairhead commented on #71
I'm for Dani's suggestion. Looks like theres agreement. Assuming it'll go
up for a loomio and then be added to accepted proposals if passed?

---
Mobile: +44 (0) 7412090234
Calendar of my non-liquid commitments
<https://calendar.google.com/calendar/embed?src=joshafairhead%40gmail.com&ctz=Europe%2FLondon>
Calendar of my liquid arrangements
<https://calendar.google.com/calendar/embed?src=mef94j8i5ev

[2019-02-25 20:22] Joshfairhead commented on #145
He said yes, you guys were CC'd :)

[2019-02-25 21:58] geleeroyale commented on #71
Yea - let's close the chapter with a loomio and crack the champagne ... I mean the sparkling water! :champagne:

I find the statement on what constitutes a valid DAC for us even more important, but that should be its own discussion.

[2019-02-26 00:35] GriffGreen opened #147 "Add Ahorralibre and MakerDAO to the list of friends on the website"
I will share this issue with them and try to get them to send the svg file needed here ;-D

[2019-02-26 00:35] GriffGreen commented on #147
I was suprised i couldnt make an issue on the website's github...

[2019-02-26 03:30] ghettodev commented on #147
Some tasty assets here you can snag: https://github.com/makerdao/Overview-of-MakerDAO-design#style-guide

[2019-02-27 01:37] ElMejorge commented on #147
¡Hey Griff! Here are our logo and brand guidelines. Reach out if you need anything else, or have a general question. - Pascual

[alibre.zip](https://github.com/Giveth/Communication/files/2908186/alibre.zip)

[2019-02-27 17:01] bowensanders commented on #109
I've started a new conversation with Josh on the Social Coding Wiki - which is where I think we'll keep the deeper Social Coding information for now.

The content discussion is here: https://forum.giveth.io/t/giveth-wiki-social-coding/30

IMO this should take the place of a seperate webpage.

[2019-02-27 17:22] krrisis commented on #128
Still organizing big time- Griff got a boat
no direct comms needed right now

[2019-02-27 23:31] Danibelle commented on #142
I've documented the [current process](https://docs.google.com/document/d/1k8rniV4PEWmMTBoXTcOWbv50PYysO_ZRdv0KDS3m5So/edit) for RewardDAO's transition to 'Make Your Own Milestones' and this month, put a link to this document into the [RewardDAO #24 January Spreadsheet](https://docs.google.com/spreadsheets/d/1NgsViwbue6O2XLoN84twViVLp2Q6Gf8aYBj70Kw6a4w/edit#gid=0) so that recipients can get the tex

[2019-02-28 12:23] geleeroyale commented on #147
I added both projects to the friends section ❤️

[2019-03-05 12:58] loietaylor opened #148 "Help build an interface for Roles!"
Putting this in comms for now but if there's traction it will get it's own repo :)
Are you in Social Coding? OR Are you a dev? OR Do you have UI/UX skills? OR Are you talented with google suite?
I want to build an interface for the monthly [Roles Process](https://wiki.giveth.io/governance/unicorn-dac/roles/) that should be pretty simple:
At the lowest level it would:
1. Auto-populate the [Roles Fo

[2019-03-05 18:10] krrisis opened #149 "What is DAppening? 0x5"
Write a short overview what the latest release of the DApp (Lion's Mane) brought to the table.

This has been detailed [here](https://github.com/Giveth/giveth-dapp/issues/671) :

Content:
- main message: New Milestone Options - Milestone are now much more configurable.
- New options:
-- Optional Reviewer (for regular rewards)
-- Can set recipient after the milestone has been deployed
-- Optional f

[2019-03-06 00:34] krrisis opened #150 "The Future of Giving is Crowdfunding the Commons"
Writing an article to introduce our work towards Giveth 2.0
Draft coming up

[2019-03-06 00:37] krrisis opened #151 "Cleanup of the board together during the meeting - next steps or close"

[2019-03-06 00:38] krrisis opened #152 "Post on Last Mile Solution"

[2019-03-06 00:38] krrisis opened #153 "Post on Pi Day"

[2019-03-06 14:57] krrisis commented on #128
Next things for org:
- add twitter handle of all our participants in the sheet, possibly even github handle so we have all info in one place for comms
- get a direct confirmation from each that they filled in their arrival & departure dates in the sheet
- get a direct (dm'd) confirmation from each participant that they have actually registered, that they did this under the correct name and edited

[2019-03-06 17:24] krrisis commented on #149
Also link to the release notes that @mroberts10 is working on & that @Danibelle will put on the wiki !

[2019-03-06 17:30] geleeroyale commented on #148
To simplify the specs for a first version and weave in my own suggestions:
- start with detailing the questions and desired input
- fork this for the form interaction part: https://tympanus.net/Development/FullscreenForm/
- read and write from/to google docs sheet

[2019-03-06 17:40] krrisis commented on #122
survey link if u have worked on this, plz fill this in - https://goo.gl/forms/2rEYOd7bvmDijXLn1

[2019-03-06 17:41] #122 closed, assigned to nobody

[2019-03-06 17:41] krrisis commented on #130
Hey @JeffEmmett @Jeff-Emmett, do you any review help on this? If so, we're here for you! <3

[2019-03-06 17:43] #147 closed, assigned to geleeroyale

[2019-03-06 17:43] krrisis commented on #101
Ongoing during the weekly Friday meetings with Dani & Griff & Michael & Kris

[2019-03-06 17:43] #101 closed, assigned to krrisis

[2019-03-06 17:54] krrisis commented on #115
This is for now moving in a more for-profit direction plus they are not interested in 'one-offs' (which we often have), and bowen will be less involved, we will prob use the audio on the libsync account (paid by us).

[2019-03-06 17:54] #115 closed, assigned to bowensanders

[2019-03-06 18:04] krrisis opened #154 "Libsyn account - Mozilla call / Görlicon / Omar / Alibre"
- kris will ask access
- bowen will check content
- kris will write a short blurb
- bowen will record
- bowen will put content on libsyn

[2019-03-06 18:05] krrisis commented on #51
Closing this, not a direct comms issue

[2019-03-06 18:05] #51 closed

[2019-03-06 18:09] krrisis commented on #66
this is no longer happening, the telegram group lives on

[2019-03-06 18:09] #66 closed, assigned to GriffGreen

[2019-03-06 18:12] krrisis commented on #30
This is no longer happening :)

[2019-03-06 18:12] #30 closed

[2019-03-07 00:37] Joshfairhead opened #155 "Social Coding Article"
Finish this article - feedback from Kris and Deam at bottom: https://medium.com/@joshafairhead/pull-requests-without-code-future-foundations-f1597923c58d

[2019-03-07 11:21] Jeff-Emmett commented on #130
Hey kris, reviews are already in and waiting my time and focus to go in and make appropriate changes.  Flying home today, funeral tomorrow, probably a weekend off, and I'll hope to get back into the swing of things the following week.  Going to have a laundry list of things to take care of back in Canada, so might be another week or two before this goes live.  Apologies, life is still a mess at th

[2019-03-11 13:28] GriffGreen opened #156 "Gitcoin Grant for Decentralized Data NOW!"
Decentralize Data NOW! is an open call coordinating the creation of tools for extracting data out of complicated blockchain systems.

This call has been happening regularly, on average twice a month, since March 2018 and evolved from a call on purely the creation of Open Source Block Explorers to a mission to decentralize all the data. You can find the playlist of these calls [here](https://www.yo

[2019-03-13 17:32] #132 closed, assigned to GriffGreen, bowensanders

[2019-03-13 17:34] krrisis commented on #152
published!

[2019-03-13 17:34] #152 closed, assigned to nobody

[2019-03-13 17:36] krrisis commented on #24
article out on this

[2019-03-13 17:36] #24 closed

[2019-03-13 17:41] krrisis opened #157 "Documentation of the DApp funded by Google - April 2nd apply"
Work on a proposal for technical documentation for our existing DApp & possibly more!

- tutorials
- how to
- discussions
- references

https://developers.google.com/season-of-docs/docs/timeline

[2019-03-13 17:48] Joshfairhead opened #158 "Giveth Growth Stack"
Build up the map for growth hacking

[2019-03-13 17:59] krrisis commented on #158
Metrics for DApp
- check with kay what makes sense for tracking of the dapp (and what he already knows)

Metrics for our audience
- DApp (currently google analytics)
- Riot
- Twitter
- Slack (only metric we have)

Funding
- Lanski is working on this

[2019-03-13 18:03] krrisis commented on #142
This one can be closed once dani has done the final tweaks of the bot with Frederik after the end of the month, and then we can write another post! Next possible step, contact riot to let them know about our bot 2.0

[2019-03-13 19:04] krrisis commented on #157
Notes by @Joshfairhead

![image](https://user-images.githubusercontent.com/6533925/54307156-4207dd00-45cb-11e9-98d4-5cd12295a89a.png)

[2019-03-19 22:10] krrisis opened #159 "Post on curecoin namecoin etc"
Ask adam to write a post combined with some facts from his research

[2019-03-20 17:09] GriffGreen opened #160 "Abbey's articles... can we get these on the blog in some way?"
https://medium.com/@abbey_titcomb/crowdfunding-the-commons-d590238d8c3c

[2019-03-20 17:10] GriffGreen opened #161 "Blockchain gender hackathon in Niger"
Lorelei and I wanted to make it to this... but we can't :-(

[2019-03-20 17:10] Joshfairhead opened #162 "Metrics Sheet"
https://docs.google.com/spreadsheets/d/1Z4Q60cgxTmEmNFBAHo6EVrC2Uq-Zlo1mfiRdtOC-KjQ/edit#gid=1014198885

[2019-03-20 17:35] krrisis commented on #158
Metrics sheet: https://docs.google.com/spreadsheets/d/1Z4Q60cgxTmEmNFBAHo6EVrC2Uq-Zlo1mfiRdtOC-KjQ/edit#gid=1014198885

[2019-03-20 17:35] krrisis commented on #162
added it to the existing issue

[2019-03-20 17:35] #162 closed, assigned to Joshfairhead

[2019-03-20 17:55] krrisis commented on #153
post out!

[2019-03-20 17:55] #153 closed, assigned to nobody

[2019-03-20 17:56] #125 closed, assigned to krrisis, GriffGreen, loietaylor

[2019-03-27 17:09] #151 closed, assigned to nobody

[2019-03-27 17:11] krrisis commented on #149
went out yesterday

[2019-03-27 17:11] #149 closed, assigned to nobody

[2019-03-27 17:12] krrisis commented on #150
https://medium.com/giveth/the-future-of-giving-is-crowdfunding-the-commons-ac265e3010b8

[2019-03-27 17:12] #150 closed, assigned to krrisis

[2019-03-27 17:20] krrisis commented on #160
asked abbey - not sure if she will do it

[2019-03-27 17:30] krrisis opened #163 "Port all posts to Ghost"
+ auto-scrape future ones

[2019-03-27 17:48] krrisis commented on #148
https://beta.giveth.io/campaigns/5b3b3a34329bc64ae74d13cd/milestones/5c7e9b044db42c0731c603cb

[2019-03-29 20:27] krrisis opened #164 "Fix Donation Page FAQs"
- review the text and add missing urls
- review proposed text change in [doc](https://docs.google.com/document/d/1CP6ycUBb3_5uH_nqVdoEwkfPCHpAntcBRh25XJVjY-4/edit- created by @Danibelle and integrate this

[2019-04-03 16:46] krrisis commented on #164
+ add a donation rule mention --> #71

[2019-04-10 16:34] Danibelle opened #165 "Change Pinned Repos on Giveth Main Page"
Use Case: It would be helpful to Contributors for the Pinned Repositories to reflect those with current activity / where we most need support.

Change Requested: Communication since we meet on that every week should really be at the top. Replace Mini-Me with Communication.

If others pinned are not being used, both the Wiki and Galaxy are repositories that are actively open to revision.

![image.p

[2019-04-10 16:39] Danibelle opened #166 "BitIRA Interview Questions for Griff"
Email Request from Andrea at BitIRA - @GriffGreen to answer in Google Doc, questions pasted as well below.
https://docs.google.com/document/d/1QvPgWaFfnrslaFh0VqMbvMw-cdSHygnvYlN0N-GgiLw/edit?usp=sharing

Innovators in Crypto Interview: Griff Green, Giveth
February 2019

1. How did you first get interested in cryptocurrency and why did you first find appealing?

2. How did Giveth come about and wh

[2019-04-10 16:43] #159 closed, assigned to GriffGreen

[2019-04-10 16:45] krrisis opened #167 "Datadash & Project Genesis"
See how we can collab with nicholas maerten

[2019-04-17 17:13] loietaylor opened #168 "New Community Cards!"
Many Givethers have never had cards or have ran out of theirs - so it's time to renew!
Put your info into [this sheet](https://docs.google.com/spreadsheets/d/1lydBN41Xj3j3kmC2t7LcsNGZy57FLMyq7eIliKj2iPI/edit?usp=sharing) BEFORE MAY 5TH if you'd like some business cards:
[This file](https://drive.google.com/drive/folders/1nuVx53iTpoIoz74CcnzqL3sWTwKA3uYf?usp=sharing) contains many examples, but gen

[2019-04-23 17:58] krrisis opened #169 "Giveth Sticker Reprint"
Dappnode would like to ship loads of partner stickers in their boxes, logically Giveth should be in there.
We need 200 stickers for them, would be good to make some more for ourselves.
Deadline requested.

[2019-04-24 14:40] geleeroyale opened #170 "Interview with [Der Brutkasten]"
After unblock3d conference in Vienna I got an interview request from startup magazine "Der Brutkasten". Not sure if it will make the print version or be a video that is shared on their online platform. Interview is set to be in **german** and scheduled to be recorded between 6th and 8th May.

[2019-04-24 15:09] geleeroyale commented on #169
Can facilitate the print. I use [FLYERALARM](https://flyeralarm.at) from Vienna for all my stickers (commons carrot and revolution.eth stickers were printed there i.e.). Quality and color matching is top notch. Nice price as well ~ 37€ for 500 stickers. Needs a week to print.

[2019-04-24 16:06] krrisis commented on #160
all live

[2019-04-24 16:06] #160 closed, assigned to nobody

[2019-04-24 16:09] GriffGreen opened #171 "Lots of Griff Videos!"
Griff Riff: https://twitter.com/thegrifft/status/1120774056834420736
Epicenter: https://twitter.com/epicenterbtc/status/1121013415105839104
Short ETHCapetown interview: https://twitter.com/GSpasov/status/1121036753589231617
Simon labeled as Griff :-D: https://twitter.com/GSpasov/status/1121036757057843201

[2019-04-24 16:10] Danibelle commented on #165
Pin this Communication Repo!

[2019-04-24 16:16] #144 closed, assigned to geleeroyale

[2019-04-24 16:16] #143 closed, assigned to loietaylor

[2019-04-24 16:17] #118 closed, assigned to krrisis, GriffGreen

[2019-04-24 16:17] #130 closed, assigned to krrisis

[2019-04-24 16:24] krrisis opened #172 "Commons stack Communications"
- Griff, Jeff & Abbi are working on a pitch deck
-- Pitch deck: Raising money for the project as a whole, cadcad & giveth redesign
-- Marko will work on design
-- reviewed by Kris and ready for investors

- Website coming up with main info and redirect to various channels for more info.
- Channels:
-- updates via giveth twitter / medium
-- project info on wiki
-- code on commons stack github
-- sh

[2019-04-24 16:32] krrisis commented on #166
call will work better

[2019-04-24 16:34] Danibelle commented on #142
testing the new changes right now.. I'll probably take a swing at drafting a post on this myself!

[2019-04-24 16:36] Danibelle commented on #129
I may have missed the window on this one.  At min... I may like to attend and reconnect here, will dig and give another update next week.

[2019-04-24 16:46] krrisis commented on #133
judging done - lots of tokenbonding curve love

[2019-04-24 16:46] #133 closed, assigned to GriffGreen

[2019-04-29 23:44] geleeroyale commented on #163
@krrisis - please download all the posts and send them to me:

[2019-05-01 15:36] krrisis commented on #163
ok, for a publication you need to submit a request (can only download my own articles), have submitted and will report back. Tx

[2019-05-01 15:54] krrisis commented on #157
deadline passed

[2019-05-01 15:54] #157 closed, assigned to geleeroyale, mroberts10, Joshfairhead, Danibelle

[2019-05-01 15:54] krrisis commented on #161
we didn't make it there - next time!

[2019-05-01 15:54] #161 closed, assigned to nobody

[2019-05-01 15:55] krrisis opened #173 "Malta Blockchain & AI Summit (end of May)"
Nominated in 2 categories - vojtech is checking if transport could be covered for Dani

[2019-05-01 16:12] krrisis commented on #171
shared!

[2019-05-01 16:12] #171 closed, assigned to nobody

[2019-05-02 14:29] geleeroyale commented on #169
I just ordered 500 pcs of **vegan**!! outdoor stickers. I chose the purple color scheme, as all the others were never really part of the official palette. Will send them to Barcelona once they arrive at my place (printer only sends domestically).

Please note - I still need the address of new HQ - PM on Riot @lorelei1 @GriffGreen

[EDIT] - Actual price was 42,36€ - will invoice via DApp

[2019-05-08 15:13] #128 closed, assigned to bowensanders, Joshfairhead

[2019-05-08 15:14] krrisis commented on #114
covered in funding track

[2019-05-08 15:14] #114 closed, assigned to mroberts10, krrisis

[2019-05-08 15:14] #48 closed

[2019-05-08 16:35] krrisis opened #174 "Barcelona Team Meetup"
- 24-26th hackathon Madrid (dani might go) - https://www.eventbrite.com/e/swarm-orange-summit-madrid-2019-tickets-57378034245

- 28th - prep
- 1st - 7th of June - core giveth work
- 8-10th - commons stack / offsite

[2019-05-15 16:16] geleeroyale commented on #170
Was cancelled due to video team unavailable on the day of shooting. Still supposed to happen in the next weeks.

[2019-05-15 16:31] krrisis opened #175 "RadXChange"
Start it up in Barcelona

[2019-05-15 16:34] krrisis opened #176 "Kay's article on Conviction Voting"

[2019-05-15 16:37] krrisis opened #177 ""This Notebook is Always on Sale" article - Zargham's artefact"
Jeff can you edit title & add your article?

[2019-05-15 16:40] krrisis opened #178 "Noncentral Conference 22-24 of June"
Who wants to go and represent Giveth?

https://www.noncentralconf.com

[2019-05-15 16:42] krrisis opened #179 ""Introducing the Commons stack" article"
can you add link article & edit title jeff?

[2019-05-15 16:48] loietaylor opened #180 "Photography at Barcelona retreat"
Does anybody have a nice camera and some skills they can bring to the retreat?
Let's set up picture day at the hackerpad!

I'd love to take this opportunity where we are all in person to get great photos of the who of Giveth! I've been wanting for a while to see sweet, clear, bright portraits of Givethers... i just think there are so many uses that come up for this.
Here's your pre-warning to reme

[2019-05-15 16:53] loietaylor commented on #180
@geleeroyale

[2019-05-15 16:56] geleeroyale commented on #176
"Social Sensor Fusion - An introduction" =)

https://docs.google.com/document/d/188KelyMYcgj2kptHehYrolYhE-WBlL7okrM8vWT6kB4/edit?usp=sharing

[2019-05-15 17:16] #113 closed, assigned to mroberts10

[2019-05-20 09:20] Jeff-Emmett commented on #179
https://docs.google.com/document/d/1SOO6IajlImjprioBCC-bEKpfkncSV5K6aRgoltAcnmI/edit?usp=sharing

Ready for editing and comments, hoping to publish for Wednesday! =)

[2019-05-20 09:23] Jeff-Emmett commented on #177
https://docs.google.com/document/d/1YcM8I3MKVUq2dxwtgzSLv5X4mOFNkksE0LuMLEAA2_s/edit?usp=sharing

This article will be completed in draft by Wednesday, and ready for editing =)

[2019-06-12 12:06] krrisis commented on #165
check, done! keeping the others bcs as you can see they have been forked quite a bit (esp minime).

[2019-06-12 12:06] #165 closed, assigned to nobody

[2019-06-12 12:06] #173 closed, assigned to Danibelle

[2019-06-12 12:07] #179 closed, assigned to JeffEmmett, Jeff-Emmett

[2019-06-12 12:09] krrisis opened #181 "Goals update on wiki / circle"
based on meetings in barca

[2019-06-12 12:10] krrisis opened #182 "Mission statement update on wiki"
based on meetings in barca - both goals meeting part I + extra meeting on goals prio on friday

[2019-06-12 12:11] krrisis opened #183 "Values article on medium + wiki update"
based on meeting barcelona

[2019-06-12 16:29] sepu85 opened #184 "Setting up a Communication Strategy for the hispanic markets"
It is estimated that more than 437 million people speak Spanish as a native language, which qualifies it as second on the lists of languages by number of native speakers. from [wikipedia](https://en.wikipedia.org/wiki/Spanish_language). It is also noticed that the economical situation in countries in LatinAmerica is hardly needing a crypto-intervention as well as the decentralization of power and

[2019-06-12 22:18] krrisis opened #185 "eth organizer call (26th)"
Jeff have a call with James Zaki before to update him

[2019-06-12 22:19] krrisis commented on #184
let's discuss in our call next week!!

[2019-06-17 20:06] krrisis opened #186 "Devcon V, Osaka Oct 8-11"
- Register for builder reduction before July 7! https://devcon.org
- Request speaking opportunity in form & through connections

[2019-06-19 16:09] krrisis opened #187 "Conviction Voting Article"
coming up later this week, reviewed by adam lanski & kris

[2019-06-19 16:15] loietaylor opened #188 "Giveth House campaign"
I made a [campaign](https://beta.giveth.io/campaigns/5d0849c3aad0322f5aeea058) for the hacker pad this week - and I would LOVE everybody's help promoting to any and all who want to use the house.
If you know someone who has used or is interested in using the space, just remind them that they can donate here to be regenerative to the space and keep it going long time :)
Also reminding folks that al

[2019-06-19 16:15] krrisis commented on #175
next xchange coming in a few months. Tommy is away for the next two months but @Danibelle will support this

[2019-06-19 16:17] krrisis opened #189 "Dapp article by adam"
to be reviewed

[2019-06-19 16:19] #176 closed, assigned to geleeroyale

[2019-06-19 16:20] loietaylor opened #190 "Unicef Grant Video"
I'm considering going down to Tijuana early next month to chase/project manage/creatively inspire and direct - whatever is needed to make this submission video HAPPEN well before the deadline so we have a shot of ALibre devs getting funded that 100k :)

sorry there is probably an issue for this already... just wanted to make sure this makes it into the mtg!

[2019-06-19 16:24] mroberts10 opened #191 "Create an onboarding document for the DAPP Devs."
The onboarding document would include information about:

1) DAPP structure - who is responsible for what.

2) Points of Contact

3) Riot channels

4) How to get started - github, riot etc.

5) How the development process works.

[2019-06-19 16:25] krrisis commented on #180
create a part or a subpage with headshots with @geleeroyale

[2019-06-19 16:25] mroberts10 opened #192 "DAPP Server Infrastructure Diagram"
Very few of us understand the entire structure of the DAPP.  This diagram will help everyone see how or current DAPP works.

[2019-06-19 16:27] mroberts10 opened #193 "DAPP Administrative Guide"
This is document to help administrators but also everyone know who are the points of contact for the various servers and how to correct issues when there are problems.

[2019-06-19 16:28] mroberts10 opened #194 "DAPP blog post"
This would be the long awaited blog post on what happing with the DAPP.  We might wait to post this until we have a clearer path around funding, but we can put this together now regardless.

[2019-06-19 16:30] krrisis commented on #183
+ sheet by griff

[2019-06-19 16:30] mroberts10 commented on #117
This would be the first of several related docs we need for the DAPP 2.0

General Roadmap
Product Roadmpa
Design specification
Technical Specification
Testing/Release plan

[2019-06-19 16:34] #21 closed

[2019-06-19 16:34] #42 closed

[2019-06-19 16:34] #47 closed

[2019-06-19 16:35] #168 closed, assigned to loietaylor, Danibelle

[2019-06-19 16:35] #169 closed, assigned to geleeroyale

[2019-06-19 16:35] #141 closed, assigned to krrisis, GriffGreen, Jeff-Emmett

[2019-06-19 16:37] Danibelle commented on #142
Update: This is rolling into a Governance Article that will touch on RewardDAO and Riot Chatbot, Loomio and the Unicorn DAC, sharing lessons learned what's working and what still needs working on.

[2019-06-19 16:50] Danibelle commented on #71
Following up on our 'Ethics of the DApp' session at the BCN Retreat; I recommend we consider forking the Community Guidelines and Code of Conduct shared to us by RadicalxChange and attached here.

[Code of Conduct (1).pdf](https://github.com/Giveth/Communication/files/3307119/Code.of.Conduct.1.pdf)
[RadicalxChange - Chapter Guidelines.pdf](https://github.com/Giveth/Communication/files/3307120/Radi

[2019-06-19 16:56] krrisis commented on #190
- script already exists from our side -> @mroberts10
- fill out the grant application form

[2019-06-19 16:59] loietaylor commented on #190
@krrisis can help mentor them script wise on melding stories to create an effective video! I can do this as well but putting it here to remind myself we have you to call on!

[2019-06-19 17:01] krrisis commented on #189
https://docs.google.com/document/d/1C7moS3QKIN9jDg2Ut3VOngUVwEHEyXHMKYOtNL6zpx0/edit

[2019-06-19 17:35] mroberts10 commented on #190
Here is the link to the script - https://docs.google.com/document/d/1Kwm6srNJBjEy0erOT7O41IUtdmR8QD8xPKSdso4oP3o/edit?usp=sharing

[2019-06-19 20:22] geleeroyale commented on #71
@Danibelle We do have a code of conduct for the **community**! (https://wiki.giveth.io/governance/codeofconduct/)

Please feel free to propose changes to that!

---
Both the one we use and the RadXChange one seem to be geared towards behavior in a community, whereas this discussion is about **donations**.

I don't think those are even similar, so we will have to do the work and make completely new

[2019-06-19 20:26] geleeroyale commented on #180
We have the pics now, but do we really have them on a website? I am quite ok with showing Giveth always as a bunch of people, where not necessarily everyone on the pic is in Giveth, or everyone who is a part of Giveth in the picture.

We were never asked for pictures, nor have I heard any negative sentiment on not showing faces on the website.

[2019-06-25 04:40] loietaylor commented on #71
Hmm, I would like to weigh in here to affirm, that this Code of Conduct for behavior and acceptance/privileges in the giveth community is very different from the Ethics of the DApp conversation and what walls do we have facing incoming donations... I totally glazed over the fact that you were connecting those two @danibelle in the loomio and was just all for supporting real focus on our healthy co

[2019-06-26 16:01] krrisis opened #195 "2 donation opportunities to discuss"
- blackscale in our general chat & my dm
- inferno cash https://inferno.cash/

[2019-06-26 16:09] krrisis opened #196 "donating to metacartel dao"

[2019-06-26 16:23] krrisis commented on #196
griff is making a loomio

[2019-06-26 16:40] krrisis commented on #185
jeff got some feedback from the team on this

[2019-06-26 16:55] krrisis opened #197 "Conviction voting article"
graphs being added (via @lorelei1), jeff is integrating final comments

[2019-07-05 15:46] Danibelle opened #198 "Protea Gather Dapp Article on Giveth Gatherings"
Protea is seeking more early adopters and just put out an article - I'd love to have an article about our pilot community experience in Barcelona that weaves in what we learned and how we will next use it..  see Loomio!

https://www.loomio.org/d/XYZ2znBk/giveth-gatherings-protea-pilot-project-part-two

[2019-07-10 16:28] krrisis commented on #187
it's live!

[2019-07-10 16:28] #187 closed, assigned to JeffEmmett

[2019-07-10 16:34] krrisis commented on #146
- @geleeroyale & @Joshfairhead  will be there at the web3summit -- no plan for active participation
- TEGG presentation by zargham (blockscience: cadcad walkthrough + sponnet & jeff CV + jeff commons stack)
- DGov node presentation at web3 & Zargham web3 presentation
- August 21 Commons Stack advisors & team meet and greet, organized by @Jeff-Emmett

[2019-07-10 16:35] krrisis commented on #197
done

[2019-07-10 16:35] #197 closed, assigned to Jeff-Emmett

[2019-07-10 16:39] krrisis commented on #196
done! proposed to use giveth as an escrow system

[2019-07-10 16:44] krrisis opened #199 "ens registration"
- get giv.eth and some others
- griff is going to register some

[2019-07-10 16:48] krrisis opened #200 "change picture on homepage with new team picture"
prob best to do a vote on what pic to use?

[2019-07-10 16:51] krrisis opened #201 "about page with who's the team + links"
- create a sheet with twitter linkedin github choice of headshot (link to img)
- OK to put them in the core team or wider contributor network on our site
- draft out a quick wireframe for such a page -> check/discuss w/kris if possible :) <3

[2019-07-10 17:03] krrisis commented on #109
@geleeroyale can you take that .tk page down?

[2019-07-10 17:05] krrisis commented on #191
@mroberts10 could you put this on the wiki under dapp? If you need help @geleeroyale or I can help you.

[2019-07-10 17:05] #174 closed, assigned to loietaylor, Danibelle

[2019-07-10 17:06] krrisis commented on #193
@mroberts10 could you put this on the wiki under dapp? If you need help @geleeroyale or I can help you.

[2019-07-10 17:07] krrisis commented on #192
@mroberts10 could you put this on the wiki under dapp? If you need help @geleeroyale or I can help you.

[2019-07-10 17:12] krrisis commented on #194
would be good to start a doc with some bullet points on this michael - not sure what we can tell right now next to what is already in the latest dapp update on our medium? I would say: start with a roadmap on the wiki? that would already be extremely helpful to get funding I think? Could we put a timing on getting this done?

[2019-07-10 17:15] krrisis commented on #180
continued in issue #200 & #201 -- thx that you made this one happen kay <3

[2019-07-10 17:15] #180 closed, assigned to nobody

[2019-07-10 17:16] krrisis commented on #185
happened, retweeted, was glorious

[2019-07-10 17:16] #185 closed, assigned to JeffEmmett

[2019-07-17 16:49] #178 closed, assigned to nobody

[2019-07-25 14:00] loietaylor commented on #190
Video is complete and the written form submission is in revision currently

[2019-08-08 13:50] krrisis commented on #194
closing this one for now - we can create a new one when we 'reboot'

[2019-08-08 13:50] #194 closed, assigned to mroberts10

[2019-08-08 13:57] krrisis opened #202 "Giveth on a break article"
- deadline: post before berlin
- aim: inform people on status of giveth (easy to link to), call to action to get us more funding to get us to v2.0, support regenerative funding via CS (momentum building)

Notes for content (as discussed with @Danibelle - feel free to add more!) :

- very clickbaity title :) :)
- based on loomio [proposal by kris](https://www.loomio.org/d/kM0YvmFC/giveth-taking-a-b

[2019-08-13 16:02] krrisis commented on #202
not doing this for now

[2019-08-13 16:02] #202 closed, assigned to krrisis

[2021-01-12 18:41] positonic opened #203 "Identify and reach out to launch partners"
Making this as an example for feedback

[2021-06-08 01:38] #20 closed